<div class="fl_featured__slide">
	<div class="fl_feat_bg_img" style="background-image: url('{{TOP_LIST_IMAGE}}');"></div>
	<div class="fl_feat_content container container-home">
		<div class="fl_feat_mw">
			<a href="{{TOP_LIST_URL}}">
				<div class="description">
					<div class="category">
						<div class="news-category list">{{LANG lists}}</div>
					</div>
					<h2>{{TOP_LIST_TITLE}}</h2>
					<div class="news-pub">
						<span>{{TOP_LIST_PUBLISHER__NAME}}</span> |
						<span>{{TOP_LIST_POSTED}}</span> {{VERIFIED}}
					</div>
				</div>
			</a>
			<div>
				<a href="{{TOP_LIST_URL}}" class="btn btn-default">{{LANG read_more}}</a>
			</div>
		</div>
	</div>
</div>