<div class="top-news multi border-bottom" style="background-image: url('{{TOP_POLL_IMAGE}}');">
    <a href="{{TOP_POLL_URL}}">
        <div class="white-hover"> </div>
        <div class="description">
            <div class="news-title">
                {{TOP_POLL_TITLE}}
            </div>
            <div class="news-pub">
                <span><i class="fa fa-clock-o"></i> {{LANG posted}} {{TOP_POLL_POSTED}}, {{LANG by}} {{TOP_POLL_PUBLISHER__NAME}}</span> {{VERIFIED}}
            </div>
            <div class="category">
                <div class="polls-category">
                    {{LANG polls}}
                </div>
            </div>
        </div>
    </a>                        
</div>