<div class="top-news multi" style="background-image: url('{{TOP_LIST_IMAGE}}');">
    <a href="{{TOP_LIST_URL}}">
        <div class="white-hover"> </div>
        <div class="description">
            <div class="news-title">
                {{TOP_LIST_TITLE}}
            </div>
            <div class="news-pub">
                <span><i class="fa fa-clock-o"></i> {{LANG posted}} {{TOP_LIST_POSTED}}, {{LANG by}} {{TOP_LIST_PUBLISHER__NAME}}</span> {{VERIFIED}}
            </div>
            <div class="category">
                <div class="lists-category">
                    {{LANG lists}}
                </div>
            </div>
        </div>
    </a>
</div>