<nav class="navbar navbar-findcond navbar-fixed-top <?php if ($fl['page'] == 'home') {?>fl_trans_head<?php } ?>">
    <div class="container container-home">
		<ul class="nav navbar-nav navbar-left">
			<li class="fl_menu_btn"><div class="btn_overlay"></div><a href="#"><span class="hamburger"></span></a></li>
			<li><a class="navbar-brand logo-img" href="{{LINK }}"><img src="{{CONFIG theme_url}}/img/logo.{{CONFIG logo_extension}}" alt="{{CONFIG title}}"></a></li>
			<li class="fl_nav_link fl_nav_link_home {{ACTIVE_NAVBAR_HOME}}"><a href="{{LINK }}" title="{{LANG home}}"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg></a></li>
			<li class="fl_nav_link {{ACTIVE_NAVBAR_NEWS}}"><a href="{{LINK latest-news}}" class="news">{{LANG news}}</a></li>
			<li class="fl_nav_link {{ACTIVE_NAVBAR_LISTS}}"><a href="{{LINK latest-lists}}" class="lists">{{LANG lists}}</a></li>
			<li class="fl_nav_link {{ACTIVE_NAVBAR_VIDEOS}}"><a href="{{LINK latest-videos}}" class="videos">{{LANG videos}}</a></li>
			<li class="fl_nav_link {{ACTIVE_NAVBAR_MUSIC}}"><a href="{{LINK latest-music}}" class="music">{{LANG music}}</a></li>
			<li class="fl_nav_link {{ACTIVE_NAVBAR_POLLS}}"><a href="{{LINK latest-polls}}" class="polls">{{LANG polls}}</a></li>
			<li class="fl_nav_link {{ACTIVE_NAVBAR_QUZZES}}"><a href="{{LINK latest-quizzes}}" class="quizzes">{{LANG quizzes}}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<button class="btn search"><div class="btn-material"></div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg></button>
			</li>
			{{LOGGEDIN_HEADER}}
		</ul>
		<div id="fl-loading-bar"></div>
	</div>
	<div class="fl_menu_links">
		<ul>
			<li class="{{ACTIVE_NAVBAR_NEWS}}"><a href="{{LINK latest-news}}" class="news">{{LANG news}}</a></li>
			<li class="{{ACTIVE_NAVBAR_LISTS}}"><a href="{{LINK latest-lists}}" class="lists">{{LANG lists}}</a></li>
			<li class="{{ACTIVE_NAVBAR_VIDEOS}}"><a href="{{LINK latest-videos}}" class="videos">{{LANG videos}}</a></li>
			<li class="{{ACTIVE_NAVBAR_MUSIC}}"><a href="{{LINK latest-music}}" class="music">{{LANG music}}</a></li>
			<li class="{{ACTIVE_NAVBAR_POLLS}}"><a href="{{LINK latest-polls}}" class="polls">{{LANG polls}}</a></li>
			<li class="{{ACTIVE_NAVBAR_QUZZES}}"><a href="{{LINK latest-quizzes}}" class="quizzes">{{LANG quizzes}}</a></li>
		</ul>
	</div>
</nav>
<script>
$('.fl_menu_btn').on('click', function(e) {
	e.preventDefault();
	return $('body').toggleClass('m_active');
});
</script>