
.css-400 .nav_tool_friends_online {display: none;}

.css-400 .toolbar .nat_logo{
        width: 38px;
    background-image: url(../../images/logo_new/brand-transparent.png);background-position: 0px;
}
.css-400 .user_menu_control{left:0;margin-left:-14px;}

.css-400 .toolbar_search .it {
    width: 120px;
}
.css-400 .toolbar .search_wrapp {
    margin-right: 12px;
}
.css-400 section#profile_left_side_bar{
	
	display:block!important;
}
.css-400 section#profile_left_side_bar .left_sd_b_wht {
    /* display: none; */
    z-index: 90;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;top: 50px;
    left: 2px;
}.css-400 .tophead_sugg {
    padding: 3px 8px;
}.css-400 .sug_us_photo {
    width: 29px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 8px;
    position: relative;
}.css-400 .sug_us_name{font-size:12px;}
.css-400 ._72gdz._73dsgg{display:none;}
.css-400 .header_mus_player{display:none;}
.css-400 [plpsbtn="1"] .toolbar_nav_a{position:absolute;right:0;}
.user .css-400 #mainContent.grid {
    width: 100%;
    float: none;
}
.css-400 #mainContent.__wall .filter_i {
    padding: 7px 7px;
    font-size: 12px;
}
.css-400 .bif42 {
    width: 100%;
}

.css-400 .pf_feed_small_abs_img{
display:none;	
}
.user .css-400 #mainContent.grid{
	left:auto;
}

.css-400 .brdiu_my_unm,.css-400 .keep_100{margin-left:0;}
.css-400 .brdiu_my_u {
    width: 100%;
}
.css-400 .__two_columgap{
-webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 4px;
    -moz-column-gap: 4px;
    column-gap: 4px;
}.css-400 #mainContent.__wall .feed{width:100%;}
.css-400 .__two_columgap .collage_full_width{width:108%!important;}
.css-400 .__two_columgap ._kngf1 {
    width: 106.6%;
}
.css-400 .ft{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.css-400 .ff_copy {
    text-align: center;
}
.css-400 #profile_left_side_bar{
	-webkit-transition:-webkit-transform .3s cubic-bezier(.47,.13,.32,.24);
	transition:transform .3s cubic-bezier(.47,.13,.32,.24);
	
}
.css-400 #profile_left_side_bar._hidden{
	-webkit-transform: translate3d(-300px,0,0) translateZ(0);
	transform: translate3d(-300px,0,0) translateZ(0);
	
}

.css-400 #page_layout {
    width: 100%;
    padding: 69px 0;
}
.css-400 .__two_columgap#hook_feed_wl_pg{
	width:100%!important
	
}

.css-400 #mainContentContentColumn{padding:0!important;}

.css-400 #mainContent{padding:12px!important;margin:auto;}

.css-400 .compactProfile {
    top: -170px;
}
.css-400 .compactProfile_pht_cnt, .css-400 #mainContent.grid .compactProfile_pht {
    height: 118px;
    width: 118px;
}
.css-400 .compactProfile_info {
    max-width: 170px;
}
.css-400 .compactProfile_info span {
    color: #fff;
    font-size: 14px
}
.css-400 .uprf_coll_abs_kn{
    height: 241px;
}
.css-400 #mainContent.grid .mctc_navMenu {
    margin:0px;
}.css-400 .p_tp_nav_menu_item {
   margin:0;
}.css-400 .mctc_navMenuSec.__active:After{margin-left:-9px;}
.css-400 .wide_friends_lf_cl #hook_Block_LeftColumn,.css-400 .wide_friends_lf_cl #mainContentLeftColumn,.css-400 #mainContentLeftColumn.appsPage{
	    margin: 16px auto;
	width:100%!important;}
.css-400 #mainContent.apppage{width:100%!important;}
.css-400 #mainContent.grid #mainContentContentColumn {
width : 100%!important;
}
.css-400 .covers_cat_preview img{width:auto;}
.css-400 #mainContentContentColumn.inapps {
	 width: 100%!important;
	 margin-left:0!important;
	
}

.css-400 .ui_search{margin-left: 0;
    width: 100%;}
.css-400 .ui_search_reset{top:-1px;}
.css-400 input.ui_search_field{margin-top:-1px!important;}
.css-400 #panelFriendsId, .css-400 #listBlockPanelUserGuests{
	   padding: 16px!important;
	
}

.css-400 .u_p_left_column {
    position: absolute;
    float: left;
    width: 214px;
    margin-right: 0px;
    min-height: 600px;
    min-width: 206px;
    z-index: 3;
    background: #fff;
    padding: 11px;
    left: 0;
    /* top: 0; */
    border-right: 1px solid #ccc;
    height: 100%;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.1);
}

.css-400 .user-image-mob {
    width: 70px;
    height: 112px;
    display: inline-block;
}
.css-400 .user-image-mob img{width:100%;height:100%;}
.css-400 .u_p_left_column{display:none;}
.css-400 .u_profile_near_photo{width:100%;}
.css-400 .u_top_n_st {
    float: right;
    height: 160px;
    width: 73%;
}.css-400 .mn_block {
    margin-left: 0;
    margin-right: 25px;
}
.pp_f_menu li:last-child{margin-right:0px;}.css-400 .a02{font-size:12px;}
.css-400 .a01{font-size:15px;}
.css-400 #profile_redesign .posting-form_itx_w {
    width: 95.2%;
}.css-400 .__redesign_prof .lf_map_cnt {
    width: 70%;
}
.css-400 .leaflet-control-search.search-exp {
    width: 30%!important;
}
.css-400 .u_profile_near_photo .emoji-wysiwyg-editor {
    width: 51% !important;
}
.css-400 .feed-tip-map-loc{width:100%;}
.css-400 .media-block.media-video .vid-card__xl .vid-card_cnt{
    width: 100%;
    height: 208px;
}.css-400 .mus_playlist-add_search{width:142px;}
.css-400 .vid-card {
    display: block;
}.css-400 .leaflet-control-search .search-cancel {
    position: relative;
    top: -29px;
    right: 0px;
    float: right;
}
.css-400 .leaflet-control-search .search-tooltip{
	
	    min-width: 80px;
}

/* photos */
.css-400 .userAddPhoto.__square {
    height: 150px;
    width: 152px;
}

.css-400 .userAddPhoto.__square .html5-upload-link.__size {
    height: 150px;
    width: 152px;
}.css-400 .userAddPhoto.__square .mtoCenter {
   margin: 0px auto;
    width: 152px;
}.css-400 .ec_items .eg_gotph {
    min-width: 152px;
    min-height: 152px;
}.css-400 .ec_items a[data-vphopen]>img {
    max-width: 152px;
    max-height: 152px;
}.css-400 .sc-menu .u-menu {
    padding: 1px 0 0 2px;
}
.css-400 #sortUphotos img{width:100%;height:100%;}
.css-400 .ec_items.ui-sortable-handle {
    width: 158px;
    height: 158px;
}
/* end photos */

.css-400 .posts_pg .lf_map_cnt {
    width: 70%;
}
.css-400 .__settings #mainContentContentColumn{
	padding:12px!important;
}
.css-400 .st_pifo_upd {
    margin-left: 2px;
}
.css-400 .covers_cat_preview {

    width: 100%;

}.css-400 .covers_cat_i,.css-400 .covers_cat_i_placeholder {

    width: 45%;
}
.css-400 .kn_popup_box{
	
width:100%!important;	
}.css-400 .mejs__container{width:100%!important;}
.css-400 video{width:100%!important;}
.css-400 #hook_Block_PortalSearchFilters{
	float: none;width:100%;
}
.css-400 .v2_gs_filter_column_w{float:none;}
.css-400 .v2_gs_filter_column_w,.css-400 .v2_gs_filter_column{
	
	width:100%;
}
.css-400 #searchResults._fon_alb{width:100%;padding:0;}
.css-400 #searchResults #hook_Native{    padding: 12px 20px 18px;}
.css-400 .search-input .awesomplete{width:100%;}
.css-400 .v2_gs_left_column, .css-400 .search_header_pd{width:100%;}
.css-400 .search_header{
    float: none;
    display: block;
}
.css-400 .v2_gs_filter_column_w.fixed_always{position:relative!important;top:0px!Important;}
.css-400 .v2_gs_filter_column_w{margin-bottom:32px;}
.css-400 .v2_gs_filter_t {

    background-color: #d1dce6;
}
.css-400 .toolbar-layer.__grades.__big{
	    width: 97%;
    margin: 0 8px;left: 0;
}
.css-400 .toolbar-layer.__feedback.__big .toolbar-layer_cnt{    width: 100%;
    }
	.css-400 .jBox-Modal.jBox-closeButton-box{width:87%!important}
	.css-400 .jBox-content, .css-400 .inav_ul.inav__search_l{width:100%!important}
	.css-400 .frp.ifCards{width:100%;}
	.css-400 #mainContent.__wall .media-block.media-video .vid-card__xl .vid-card_cnt{width:100%;}
	.css-400 .photo-layer{width:100%;}
	.css-400 .photo-layer_bottom .photo-layer_bottom_cnt {
    width: auto;
    padding: 0 12px;
}
.css-400 .photo_layer_bottom_com{width:100%;}
.css-400 .widget_photoLayer{max-width:35%;}
	.css-400 .photo_layer_bottom_com{width:100%;}
	.css-400 .phlayer_emoji_input_sticky.__nocoms{
		
		width: 60%;
    float: left;
	}
.css-400 #pp_photo_viewer .emoji-wysiwyg-editor {
    width: 62%;
    min-height: 12px;
    float: left;
    padding: 7px;
}
	.css-400 .phlayer_emoji_input_sticky{width:60%;}
	.css-400 .phlayer_emoji_input_sticky.__on:after, .phlayer_emoji_input_sticky.__bfon:after{width:100%;}
	.css-400 #pp_photo_viewer .phlayer_ul_comms .comment {
    width: 55%;
	}
.css-400 .bvkr {
    left: -12px;
    right: auto;
    margin-left: 1px;
    top: -2px;
}
	.css-400 #boss-gallery{min-height:auto;}
	
	.css-400 #mainContent.__wall .posting-form_itx_w{width:auto;}
	.css-400 #mainContent.__wall .mst {
    width: 311px;
}
	.css-400 .controls_btn{display:none;}
	.css-400 .header_play_scrubber{display:none!important;}
	.css-400 #mainContent.__wall .posting-form_itx_dec {
    width: 285px;
	}.css-400 .bottom-post-ic{margin-right:0;}
	.css-400 .track.__media-status {
     height: auto;
}
.css-400 .toolbar_nav_i[plpsbtn="1"]{display:none;}
.css-400 .u_top_n_st .mctc_nameAndOnline .__inline{
	display:block;
}
.css-400 ._kngf5 {
    width: 92px;
    height: 92px;left: 11px;
}
.css-400 .emoji-wysiwyg-editor{width:185px!important;}
.css-400 .nb-arrows{display:none;}
.css-400 .a_user_toolbar_logo{margin-right:1px;}
.css-400 .ft.ftmin{margin:auto!important;width:100%!important;}
.css-400 #nav_right_side{
	display:none;
}
.css-400 .mainContentDoubleColumn #mainContentLeftColumn{
    width: 100%;
    margin-left: 0;
}.css-400 .comm_left_side {width:100%;}
.css-400 .u_prof_redesign_cnt{float:none;}

.css-400 .comm_left_side {width:100%;}
.css-400 .commRightColumn{
width: 100%;
    float: none;
    z-index: 1;
    overflow: hidden;
}
.css-400 .comm_fixed_right{
float: none;
    width: 100%!important;
    height: auto!important;
    position: relative!important;
    left: 0!important;
    right: 0!important;
    top: inherit!important;
    bottom: inherit;
}
.css-400 .dgroup_fixed_nano {
	
	position:relative!Important;
}