<div class="login-con">
   <div class="login-form next-col-home ">
      <form method="post" id="forgot-form">
         <fieldset>
            <h4>{{LANG reset_your_password}}</h4>
            <!-- email_address input-->
            <div class="errors hidden"></div>
            <div class="success hidden"></div>
            <div class="form-group">
               <input id="email" name="email" type="text" class="form-control input-login" placeholder="{{LANG email_address}}">
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-main">
               <i class="fa fa-sign-in progress-icon" data-icon="sign-in"></i> {{LANG request_new_password}}</button>
            </div>
         </fieldset>
      </form>
   </div>
   <div class="login-form-bottom-link">
   {{LANG got_your_password}} <a href="{{LOGIN_LINK}}">{{LANG login}}</a>
   </div>
</div>

<script type="text/javascript">
$(function() {
	var forgot_form = $("form#forgot-form");
	var forgot_button = forgot_form.find("button");
    forgot_form.ajaxForm({
    url: FL_Ajax_Requests_File() + '?f=forgot_password',
    beforeSend: function() {
      forgot_button.attr("disabled", true);
      FL_progressIconLoader(forgot_form.find('button'));
    },
    success: function(data) {
      if (data.status == 200) {
      	$(".errors").addClass('hidden');
      	$(".success").removeClass('hidden');
      	$(".success").html('<i class="fa fa-check"></i> {{LANG email_has_sent}}');
      } else {
        var errors = data.errors.join("<br>");
        $(".success").addClass('hidden');
        $(".errors").removeClass('hidden');
        $(".errors").html(errors);
        forgot_button.attr("disabled", false);
      }
      forgot_button.attr("disabled", false);
      FL_progressIconLoader(forgot_form.find('button'));
    }
  });
});
</script>