<div class="fl-plus-sidebar-music-list-wrapper fl-plus-sidebar-music-list-wrapper">
	<div>
		<a href="<?php echo $fl['trending_data']['post']['url'] ?>"><div class="fl-plus-sidebar-music-list-img" style="background-image: url('<?php echo $fl['trending_data']['post']['small_image'] ?>');"></div></a>
		<div class="fl-plus-sidebar-music-list-title">
			<a href="<?php echo $fl['trending_data']['post']['url'] ?>">
				<h3 title="<?php echo $fl['trending_data']['post']['title'] ?>"><?php echo $fl['trending_data']['post']['title'] ?></h3>
			</a>
			<time><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" /></svg> <?php echo $fl['trending_data']['post']['posted'] ?></time>
		</div>
	</div>
</div>