<div class="video_item">
	<div class="item">
	    <div class="video-thumb">
	    	<a href="<?php echo $fl['latest_videos_data']['video']['url']?>">
				<img src="<?php echo $fl['latest_videos_data']['video']['small_image']?>" alt="Picture"/>
		    	<div class="play">
					<svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24"><path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" /></svg>
				</div>
	        </a>
	    </div>
		<div class="video-title">
		    <h4><a href="<?php echo $fl['latest_videos_data']['video']['url']?>"><?php echo $fl['latest_videos_data']['video']['title']?></a></h4>
		</div>
	</div>
</div>