<section class="auth-footer">
	<div class="container">
		<div class="row">
			<div class="footer-inner">
				<p>{{LANG copyright}} <a href="{{CONFIG site_url}}">{{CONFIG name}}</a>. {{LANG all_right}}</p> 
				<ul class="pull-right">
					<li><a href="{{LINK }}">{{LANG home}}</a></li>
					<li><a href="{{LINK terms/about-us}}">{{LANG about_us}}</a></li>
					<li><a href="{{LINK terms/terms}}">{{LANG terms_of_use}}</a></li>
					<li><a href="{{LINK terms/privacy-policy}}">{{LANG privacy_policy}}</a></li>
				</ul>
			</div>
		</div> 
	</div>
</section>