<div class="entry" data-type="image" data-id="{{ENTRY_ID}}" id="entry-{{ENTRY_ID}}">
	<div class="entry-name pull-left">
	   <i class="fa fa-picture-o"></i> 
	   {{LANG image}}
	</div>
	<div class="pull-right">
	   <i class="entry-times fa-fw fa fa-arrow-down" onclick="FL_DownEntry({{ENTRY_ID}});"></i>
	   <i class="entry-times fa-fw fa fa-arrow-up" onclick="FL_UpEntry({{ENTRY_ID}});"></i>
	   <i class="entry-times fa-fw fa fa-trash" onclick="FL_RemoveEntryByID({{ENTRY_ID}});"></i>
	</div>
	<div class="clear"></div>
	<div class="error-con"></div>
	<div class="form-group">
	    <input type="text" class="form-control" data-name="entry_title" placeholder="{{LANG title_optional}}" value="{{ENTRY_TITLE}}">
	    <input type="file" class="form-control hidden" id="entry-image-file-{{ENTRY_ID}}" onchange="FL_UploadImage('{{ENTRY_ID}}', '{{LANG set_as_p_image}}');">
	    <input type="hidden" class="form-control" data-name="entry_image" id="entry-image-file-name" value="{{ENTRY_IMAGE}}">
	</div>
	<div class="img-content">
		<div class="preview-image" onclick="document.getElementById('entry-image-file-{{ENTRY_ID}}').click();" style="overflow: auto;"><div class="post-image"><img src="{{ENTRY_IMAGE}}"></div></div>
	    <div class="img-set-as">
	    	<span class="btn btn-main btn-sm" onclick="FL_MakePreviewImage({{ENTRY_ID}})"><i class="fa fa-picture-o"></i> {{LANG set_as_p_image}}</span>
	    </div>
	</div>
	<div class="image-link">
	    <div class="form-group">
		    <input type="text" class="form-control" id="entry-image-link" placeholder="{{LANG img_link}}">
		</div>
		<div class="form-group pull-right">
	        <button class="btn btn-blue" type="button" onclick="FL_FetchImage({{ENTRY_ID}}, '{{LANG set_as_p_image}}');">
		      <i class="fa fa-link progress-icon" data-icon="link"></i> {{LANG fetch_url}}
	        </button>
	    </div>
	    <div class="clear"></div>
	</div>
	<span href="#" class="fetch-image-link" onclick="FL_OpenFetchImageInput({{ENTRY_ID}});"><i class="fa fa-link"></i> {{LANG fetch_url_from_image}}</span>
</div>