<div class="entry" data-type="instagram" data-id="{{ENTRY_ID}}" id="entry-{{ENTRY_ID}}">
	<div class="entry-name pull-left">
	   <i class="fa fa-instagram"></i> 
	   {{LANG ig}}
	</div>
	<div class="pull-right">
	   <i class="entry-times fa-fw fa fa-arrow-down" onclick="FL_DownEntry({{ENTRY_ID}});"></i>
	   <i class="entry-times fa-fw fa fa-arrow-up" onclick="FL_UpEntry({{ENTRY_ID}});"></i>
	   <i class="entry-times fa-fw fa fa-trash" onclick="FL_RemoveEntryByID({{ENTRY_ID}});"></i>
	</div>
	<div class="clear"></div>
	<div class="error-con"></div>
	<input type="text" class="form-control" data-name="entry_title" placeholder="{{LANG title_optional}}" value="{{ENTRY_TITLE}}"><br>
	<input type="text" id="instagram-url" class="form-control" data-name="entry_instagram_url" placeholder="{{LANG ig_post_url}}" value="{{ENTRY_INSTAGRAM_URL}}"><br>
	<input type="hidden" class="form-control" data-name="entry_instagram" value="{{ENTRY_INSTAGRAM_URL}}">
	<div class="fetched-instagram">{{ENTRY_INSTAGRAM}}</div>
	<div class="form-group pull-right">
	    <button class="btn btn-blue" type="button" onclick="FL_GetInstagramPost({{ENTRY_ID}});">
		  <i class="fa fa-link progress-icon" data-icon="link"></i> {{LANG get_post}}
	    </button>
	</div>
	<div class="clear"></div>
</div>