<div class="fl-plus-sidebar-news-list-wrapper-parent" id="<?php echo $fl['latest_news_data']['news']['id'];?>">
	<div class="fl-plus-sidebar-news-list-wrapper">
		<a href="<?php echo $fl['latest_news_data']['news']['url'] ?>" data-id="<?php echo $fl['latest_news_data']['news']['id'];?>">
			<div class="fl-plus-sidebar-news-list-img" style="background-image: url('<?php echo $fl['latest_news_data']['news']['small_image'] ?>');"></div>
			<div class="fl-plus-sidebar-news-list-title">
				<div>
					<h3><?php echo $fl['latest_news_data']['news']['title'] ?></h3>
					<time>
						<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" /></svg> <?php echo $fl['latest_news_data']['news']['posted'] ?></span>
						<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg> <?php echo $fl['latest_news_data']['news']['views'] ?> {{LANG views}}</span>
					</time>
				</div>
			</div>
		</a>
	</div>
</div>