<div class="login-con">
   <div class="login-form next-col-home ">
      <form method="post" id="create-account-form">
         <fieldset>
            <h4>{{LANG create_new_account}}</h4>
            <!-- Username input-->
            <div class="errors hidden"></div>
            <div class="success hidden"></div>
            <div class="form-group">
               <input id="username" name="username" type="text" class="form-control input-login" placeholder="{{LANG username}}">
            </div>
            <div class="form-group">
               <input id="email" name="email" type="text" class="form-control input-login" placeholder="{{LANG email_address}}">
            </div>
            <!-- Password input-->
            <div class="form-group">
               <input id="password" name="password" type="password" class="form-control input-login" placeholder="{{LANG password}}">
            </div>
            <!-- Password input-->
            <div class="form-group">
               <input id="c_password" name="c_password" type="password" class="form-control input-login" placeholder="{{LANG c_password}}">
            </div>
            <?php if (is_array($fl['profile_fields']) && count($fl['profile_fields']) > 0): ?>
              <div class="form-group">
                <?php foreach ($fl['profile_fields'] as $key => $fl['field']): ?>
                  <?php echo FL_LoadPage('register/fields'); ?>
                <?php endforeach; ?>
              </div>
            <?php endif; ?>
            <?php 
            if ($fl['config']['reCaptcha'] == 1) {
            ?>
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{LANG reCaptcha_key}}"></div>
            </div>
            <?php } ?>
            <input type="hidden" name="hash_id" value="{{CREATE_SESSION}}">
            <div class="form-group">
               <button type="submit" class="btn btn-main">
               <i class="fa fa-sign-in progress-icon" data-icon="sign-in"></i> {{LANG sign_up}}</button>
            </div>
            <?php if ($fl['login_with'] === true): ?>
              <div class="form-group">
                 <p class="or-login">{{LANG or_connect_with}}</p>
              </div>
            <?php endif; ?>
            
            <?php if ($fl['config']['facebook'] == 1): ?>
              <div class="form-group login-with-button">
                <a href="<?php echo $fl['facebookLoginUrl'];?>" class="btn btn-main btn-facebook"><i class="fa fa-facebook"></i> {{LANG facebook}}</a>
              </div>
            <?php endif; ?>
            
            <?php if ($fl['config']['twitter'] == 1): ?>
              <div class="form-group login-with-button">
                <a href="<?php echo $fl['twitterLoginUrl'];?>" class="btn btn-main btn-twitter"><i class="fa fa-twitter"></i> {{LANG twitter}}</a>
              </div>
            <?php endif; ?>
            
            <?php if ($fl['config']['google'] == 1): ?>
              <div class="form-group login-with-button">
                <a href="<?php echo $fl['googleLoginUrl'];?>" class="btn btn-main btn-google"><i class="fa fa-google-plus"></i> {{LANG google_plus}}</a>
              </div>
            <?php endif ?>
            <?php if ($fl['config']['vkontakte'] == 1): ?>
              <div class="form-group login-with-button">
                <a href="<?php echo $fl['vkLoginUrl'];?>" class="btn btn-main btn-vk"><i class="fa fa-vk"></i> vk</a>
              </div>
            <?php endif ?>
            
            <?php if ($fl['config']['wowonder'] == 1): ?>
              <div class="form-group login-with-button">
                <a href="<?php echo $fl['wowonderLoginUrl'];?>" class="btn btn-main btn-wowonder">{{CONFIG wownder_site_name}}</a>
              </div>
            <?php endif; ?>

         </fieldset>
      </form>
   </div>
   <div class="login-form-bottom-link">
    {{LANG already_registered}} <a href="{{LINK login}}">{{LANG login}}</a>
   </div>
</div>
<script type="text/javascript">
$(function() {
  var create_account_form = $("form#create-account-form");
  var create_account_button = create_account_form.find("button");
    create_account_form.ajaxForm({
    url: FL_Ajax_Requests_File() + '?f=create_account',
    beforeSend: function() {
      create_account_button.attr("disabled", true);
      FL_progressIconLoader(create_account_form.find('button'));
    },
    success: function(data) {
      if (data.status == 200) {
        $(".errors").addClass('hidden');
        $(".success").removeClass('hidden');
        $(".success").html(data.message);
        setTimeout(function () {
          window.location.href = data.location;
        }, 2000);
      } else {
        var errors = data.errors.join("<br>");
        $(".success").addClass('hidden');
        $(".errors").removeClass('hidden');
        $(".errors").html(errors);
        create_account_button.attr("disabled", false);
      }
      FL_progressIconLoader(create_account_form.find('button'));
    }
  });
});
</script>