.webwidget_rating_simple{
    
 padding: 0px;
   
 margin: 0px;
   
 float: left;


}


.webwidget_rating_simple li{
  
   line-height: 0px;

   width: 15px;
 
   height: 15px;
 
   padding: 0px;

   margin: 0px;
 
   margin-left: 2px;

   list-style: none;

   float: left;
 
   cursor: pointer;


}

.webwidget_rating_simple li span{
 
   display: none;

}