<div class="news">
	<a href="<?php echo $fl['sidebar']['news']['url'];?>"><img src="<?php echo $fl['sidebar']['news']['small_image'];?>" alt="News"></a>
	<div class="news-title">
		<a href="<?php echo $fl['sidebar']['news']['url'];?>"><?php echo $fl['sidebar']['news']['title'];?></a>
	</div>
	<div class="news-info">
		<span><i class="fa fa-clock-o"></i> <?php echo $fl['sidebar']['news']['posted'];?></span> 
		<span><i class="fa fa-share-alt"></i> <?php echo $fl['sidebar']['news']['shares'];?></span> 
		<span><i class="fa fa-eye"></i> <?php echo $fl['sidebar']['news']['views'];?> Views</span>
	</div>
</div>