<div class="dropup">
	<button class="btn btn-main dropdown-toggle" id="add-entry-button" type="button" data-toggle="dropdown"><i class="fa fa-plus progress-icon" data-icon="plus"></i> {{LANG add_new_entry}}
	</button>
	<ul class="dropdown-menu entries">
		<li><a href="#" class="preventDefault" onclick="FL_AddEntry('video');"><i class="fa fa-fw fa-video-camera"></i> {{LANG video}}</a></li>
		<li><a href="#" class="preventDefault" onclick="FL_AddEntry('text');"><i class="fa fa-fw fa-pencil"></i> {{LANG text}}</a></li>
		<li><a href="#" class="preventDefault" onclick="FL_AddEntry('image');"><i class="fa fa-fw fa-picture-o"></i> {{LANG image}}</a></li>
		<li><a href="#" class="preventDefault" onclick="FL_AddEntry('options');"><i class="fa fa-fw fa-check-square-o"></i> {{LANG option}}</a></li>
		<li><a href="#" class="preventDefault" onclick="FL_AddEntry('tweet');"><i class="fa fa-fw fa-twitter"></i> {{LANG tweet}}</a></li>
		<li><a href="#" class="preventDefault" onclick="FL_AddEntry('facebook');"><i class="fa fa-fw fa-facebook"></i> {{LANG facebook_post}}</a></li>
		<li><a href="#" class="preventDefault" onclick="FL_AddEntry('instagram');"><i class="fa fa-fw fa-instagram"></i> {{LANG ig}}</a></li>
		<li><a href="#" class="preventDefault" onclick="FL_AddEntry('soundcloud');"><i class="fa fa-fw fa-soundcloud"></i> {{LANG soundcloud}}</a></li>
	</ul>
</div>
