.movies-container{width: 100%;overflow: hidden;	background-color: #fff;	padding-top: 15px;}
.movies-container .top-carousel-box{width: 100%;float: left;min-height: 250px;position: relative;background-color: #fff;}
.top-carousel-wrapper{position: relative;}
.w100{width: 100%;max-width: 100%;}
.top-carousel{border-bottom: solid 1px #eceff5;padding-bottom: 40px;background-color: #fff;}
.last-movie-wrap{height: 300px;	position: relative;	padding:0;	background-size: cover;}
.last-movie-wrap img{height: 100%;width: 100%;}
.last-movie-wrap div{width: 100%;position: absolute;height: 40px;left: 0;bottom: 0;	padding: 0 0 10px 10px;	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));}
.last-movie-wrap div h4{padding:0;}
.last-movie-wrap div h4 a{color: #fff;}
.movies-cat{width: 100%;overflow: hidden; padding-bottom: 30px;background-color:#fff}
.movies-cat ul{	width: 100%;overflow: hidden;padding: 0;}
.movies-cat ul li{	width: 100%;overflow: hidden;padding: 10px 15px;background-color: #fff;	border-bottom: solid 1px #eceff5;}
.movies-cat ul li a{width: 100%;text-decoration: none;color: #222d34;font-family: OpenSansSemiBold,Arial;}
.movies h3.latest-movies{width: 100%;padding-left: 9px;	font-size: 18px;color: #222d34;	margin-bottom: 50px;font-family: OpenSansSemiBold,Arial;}
h3.recommended-movies{width: 100%;margin-left: 0px;	padding-left: 9px;font-size: 18px;color: #222d34;font-family: OpenSansSemiBold,Arial;}
.movies {height: 100%;overflow: hidden;margin-right: -10px;margin-left: -10px;}
.movies-nav{width: 100%;font-family: lato;}
.movies-navbar-wrapper{margin-top: 0px;background-color: white;border-radius: 3px;box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1;	padding: 5px 0px;}
.movies-navbar-wrapper ul li{width: 100%;}
.movies-navbar-wrapper ul li a{height: 100%;padding: 3px 15px;}
.movies-navbar-wrapper ul li a svg.pull-right{margin: 2px -9px 0px 0px;color: #868686;}
.movies-navbar-wrapper ul li .collapse{padding-left: 35px !important;}
.movies-navbar-wrapper ul li .collapse li a{font-size: 12px;padding: 0px 15px;}
.movies-search{	display: inline-block;position: relative;}
.movies-search .search-result{position: absolute;top: 45px;right:0;z-index: 1000;display: none;width: 100%;padding: 5px 0;font-size: 13px;text-align: left;list-style: none;background-color: #fff;background-clip: padding-box;border-radius: 0px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.visible{display: block !important;}
.unvisible{display:none !important;}
.movies-search .search-result li{padding: 8px 10px;	margin-right: unset;overflow: hidden;}
.movies-search .search-result li a{	width: 100%;text-decoration: none;display: block;}
.movies-search .search-result li:hover{	background-color: #444;}
.movies-search .search-result li:hover > a{	color: #fff;}
.movies-search div.w100{display: inline-block;position: relative;margin-top: 11px;}
.movies-search div.w100 svg.feather{left: 0px;top: 9px;color: #656565;width: 16px;height: 16px;position: absolute;}
.movies-search input {width: 230px;height: 29px;border: unset;padding: 3px 5px 3px 23px;outline: 0;border-bottom: 1px solid #dedede;background: transparent;}
.movies .movies-film-wrapper{overflow: hidden;padding-left: 10px;padding-right: 10px;}
.movies .movies-film-wrapper figure{position: relative;width: 100%;	height: 100%;margin-bottom: 20px;box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.1);background: #fff;border-radius: 3px;overflow: hidden}
.movies .movies-film-wrapper figure > a {display: block;position: relative;margin-bottom: 10px;}
.movies .movies-film-wrapper figure h3{	color: #535353;font-size: 14px;display: block;padding: 0px 10px;margin: 0px;width: 100%;font-weight: bold;font-family: lato;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.movies .movies-film-wrapper figure h3 a{text-decoration:none;}
.movies .movies-film-wrapper figure p{text-transform: capitalize;font-size: 13px;font-family: lato;margin: -4px 0px 5px;padding: 0px 10px;color: #3D8CFA;}
.movies .movies-film-wrapper figure img{width: 100%;height: 260px;}
.movies .movies-film-wrapper figure .play_hover_btn {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);color: #fff;opacity: 0;visibility: hidden;transition: all 0.2s ease;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.movies .movies-film-wrapper figure .play_hover_btn svg {margin-bottom: 9px;background: #fff;border-radius: 50%;width: 44px;height: 44px;}
.movies .movies-film-wrapper figure:hover .play_hover_btn {opacity: 1;visibility: visible;}
.movies .movies-nav{width: 100%;padding: 15px 0;overflow: hidden;}
.most-viewed-movies{width: 100%;overflow: hidden;} 
.movies .movies-nav input{width: 100%;	border-top: none !important;border-left:none !important;border-right:none !important;border-radius: 0;font-family: OpenSansLight,Arial;padding: 20px 15px;height: 50px;font-size: 20px;}
.movies .movies-inner{overflow: hidden;	}
.movies-top-breadcrumb{	padding: 0;font-family: "Lato", sans-serif;font-size: 14px;display: flex;flex-wrap: nowrap;white-space: nowrap;position: relative;margin: 10px 0 25px;overflow-x: auto;}
.movies-top-breadcrumb:after {content: '';position: absolute;bottom: 0;left: 0;right: 0;height: 1px;background-color: #dedede;z-index: -1;}
.movies-top-breadcrumb > li > a {height: 30px;border-bottom: 1px solid #dedede;padding: 7px;line-height: 1;color: #4a4a4a;text-decoration: none;display: flex;align-items: center;}
.movies-top-breadcrumb > li.active > a {border-bottom-color: #3D8CFA;color: #3D8CFA;font-weight: bold;}
.movies-top-breadcrumb > li .dropdown-menu {max-height: 280px;overflow-y: auto;box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);padding: 8px 0;margin: 0;border: 0;}
.movies-top-breadcrumb > li .dropdown-menu li a {padding: 0px 16px;min-height: 36px;line-height: 36px;transition: all 0.15s;}
.sun_movies_list .movies-film-wrapper {width: 20%;float: left;}
.sun_mv_info {display: flex;align-items: center;margin: 0px 0px 7px;padding-right: 10px;}
.movie_rating_sml {color: #3D8CFA;border: 1px solid #3D8CFA;padding: 1px 4px;font-weight: normal;font-size: 11px;display: inline-block;margin-left: auto;}
.semibold{	font-family: OpenSansBold,Arial;}
.film-player-wrapper{width: 100%;overflow: hidden;background-color: #fff;}
.watch-film-top-nav{border-radius: 0;padding: 0px;background-color: white;margin-bottom: 10px;margin-top: 15px;font-size: 12px;}
.watch-film-top-nav.breadcrumb>li+li:before {padding: 0 3px;}
.watch-film-top-nav li, .watch-film-top-nav li a{color: #9d9d9d;}
.watch-film-top-nav li.last-bread{color: #535353;}
.played-film-meta h3 {margin-top: 0;margin-bottom: 10px;}
.played-film-description{width: 100%;overflow: hidden;margin: 0px;padding: 20px 25px;}
.played-film-description-wrapper{background-color: #fff;overflow: hidden;box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1;}
.played-film-description .played-film-name-wrap{width: 100%;height: 5px;background-color:#444444;}
.played-film-description .played-film-name-wrap h4{width: 30%;line-height: 30px;padding:0 5px 0 5px;margin: 0;font-family: OpenSansLight,Arial;font-size: 12px;}
.played-film-description .played-film-meta{	overflow: hidden;font-size: 15px;color: #222D34;}
.played-film-description .played-film-meta p.time{color: #848484;font-size: 12px;font-family: OpenSansRegular,Arial;}
.slide-film-desc{width: 100px;text-align: center;font-family: lato;color: #656565;padding: 6px;font-size: 12px;cursor: pointer;font-weight: bold;margin-left: auto;line-height: 1;margin-bottom: 12px;}
.slide-film-desc svg.feather{margin: -2px 2px 0px -5px;width: 16px;height: 16px;}
.played-film-image-wrap {display: block;overflow: hidden;position: relative;background-color: white;border-radius: 3px;padding: 15px 0px 15px 15px;}
.played-film-image-wrap img {border-radius: 7px;pointer-events: none}
.played-film-image-wrap .badge {position: absolute;left: 25px;top: 25px;background: rgba(0, 0, 0, 0.7);color: #fff;font-size: 16px;font-weight: bold;line-height: 1;display: flex;align-items: center;padding: 6px 10px;border-radius: 5px;}
.played-film-image-wrap .badge svg {width: 20px;height: 20px;margin-right: 5px;}
.related-movies-container{background-color: #fff;overflow: hidden;box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1;	margin-top: 1px;}
.related-movies-wrapper{width: 100%;padding: 15px 25px;	margin-bottom: 20px;overflow: hidden;background-color: #fff;}
.related-movies-wrapper h4.related-movies{width: 100%;font-size: 18px;color: #222d34;margin-bottom: 20px;}
.related-movies-wrapper .related-movies-carousel{width: 100%;overflow: hidden;}
.related-movies-wrapper .related-movies-carousel .related-film-wrapper{	max-height: 255px;overflow: hidden;	background-color: #fff;	padding-bottom: 5px;position: relative;	width: 185px;margin-right: 10px;padding: 0px 10px;outline: 0;}
.related-movies-wrapper .related-movies-carousel .related-film-wrapper:hover{cursor: move;}
.related-movies-wrapper .related-movies-carousel .related-film-wrapper img{	width: 100%;max-height: 200px;}
.related-movies-wrapper .related-movies-carousel .related-film-wrapper h4{font-family: OpenSansRegular,Arial;font-size: 12px;color: #222D34;padding-left: 5px;}
.related-movies-wrapper .related-movies-carousel .related-film-wrapper span{font-family: OpenSansLight,Arial;color: #757A7D;font-size: 13px;padding-left: 5px;}
.played-film-details{width: 100%;margin-top: 20px;overflow: hidden;	background-color: #fff;}
.played-film-details ul{padding-left: 0;}
.played-film-details p{	color: #848484;font-size: 13px;line-height: 20px;}
.played-film-details p span.badge{	color: #fff;font-family: OpenSansLight,Arial;}
.movies-nav-wrapper{width: 100%;overflow: hidden;padding: 30px 0;}
.movies-nav-wrapper .movies-nav-item{-webkit-transition: all .27s ease;transition: all .27s ease;padding: 10px 5px;	background: #f5f7fa;color: #222D34;	border-radius: 3px;font-family: OpenSansLight,Arial;margin-right: 20px;	font-size: 16px;}
.movies-nav-wrapper .movies-nav-item:hover{	background: #444;color:#f6f6f6;text-decoration: none;}
.film-player-wrapper iframe{width: 100%;border: none;min-height: 500px;	margin: 0;padding: 0;}
.sun_watch_movie_top {background-color: white;margin: 0;box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1;border-radius: 5px 5px 0 0;padding-bottom: 15px;}
.sun_watch_movie_info .movie-title{margin: 10px 0px 15px 0px;font-size: 36px;font-family: OpenSansLight, Arial;line-height: 43px;}
.sun_watch_movie_info .about-film{color: #848484;height: 90px;overflow: hidden;font-size: 14px ;font-family: "Lato", sans-serif;line-height: 23px;margin-bottom: 2px;}
.sun_watch_movie_info .sun_simp_info span {font-weight: bold;color: #545454;font-size: 14px;font-family: "Lato", sans-serif;margin-bottom: 6px;display: block;}
.sun_watch_movie_info .sun_simp_info .m-mata-tag{font-weight: normal;color: #7b7b7b;}
.rating {border: none;float: left;margin-left: -5px;}
.rating > input { display: none; } 
.rating > label:before {margin: 0 5px;font-size: 1.25em;font-family: FontAwesome;display: inline-block;content: "\f005";}
.rating > label {color: #dedede;float: right; font-size: 15px;cursor: pointer;margin: -2px 0 4px;}
.rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {color: #FFD700;}
.rating > input:checked + label:hover, .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label {color: #FFED85;}
.rat_cnt {margin: 0 0 0 4px;line-height: 26px;}
.title_n_shre {	display: flex;align-items: center;}
.c-share {position: relative;width: 45px;min-width: 45px;height: 45px;margin-left: auto;}
.c-share__input {display: none;}
.c-share__input:checked ~ .c-share__toggler {background: #fff;}
.c-share__input:checked ~ .c-share__toggler .c-share__icon {transition: 0s;width: 0;height: 0;color: #639eff;}
.c-share__input:checked ~ .c-share__toggler .c-share__icon::before {transform: rotate(-45deg);}
.c-share__input:checked ~ .c-share__toggler .c-share__icon::after {transform: rotate(45deg);}
.c-share__input:checked ~ .c-share_options { width: 155px;height: 140px;border-radius: 4px;}
.c-share__input:checked ~ .c-share_options::before, .c-share__input:checked ~ .c-share_options li {transition: 0.3s 0.15s;opacity: 1;transform: translateY(0);}
.c-share__toggler, .c-share_options {position: absolute;right: 0;width: inherit;height: inherit;border-radius: 50%;background-color: #fff;}
.c-share__toggler {cursor: pointer;z-index: 1;display: flex;justify-content: center;align-items: center;margin: 0;background-color: #3D8CFA;}
.c-share__icon {position: relative;left: -5px;width: 6px;height: 6px;border-radius: 50%;color: #ffffff;background-color: currentColor;box-shadow: 0.655em -0.575em, 0.655em 0.575em;transition: 0.1s 0.05s;}
.c-share__icon::before, .c-share__icon::after {content: "";position: absolute;width: 1em;height: 0.125em;background-color: currentColor;transition: 0.1s;}
.c-share__icon::before {top: 0.1875em;left: 0.1875em;transform-origin: bottom left;transform: rotate(40deg);}
.c-share__icon::after {top: -0.125em;left: 0.03125em;transform-origin: center;transform: rotate(-40deg);}
.c-share_options {list-style: none;margin: 0;padding: 1.0625em 1.25em;box-sizing: border-box;overflow: hidden;transition: 0.2s;box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.3);}
.c-share_options::before {content: attr(data-title);display: block;margin-bottom: 1.25em;font-weight: 700;}
.c-share_options li {font-size: 0.875em;color: #464646;cursor: pointer;}
.c-share_options li:not(:last-child) {margin-bottom: 0.75em;}
.c-share_options::before, .c-share_options li {opacity: 0;transform: translateY(0.625em);transition: 0s;}




@media (max-width: 1270px) {
.movies .movies-film-wrapper figure img {
    height: 240px;
}
}
@media (max-width: 1140px) {
.watch_info_movie{
	display:none;
}
.watch_main_movie{
	width:100%;
}
.mobi_movi_category{
	display:block;
}
}

@media (max-width: 992px) {
.sun_movies_list .movies-film-wrapper {
	width: 25%;
}
.movies-search div.w100 {
	margin-top: 1px;
}
.played-film-image-wrap {
	padding: 15px 0;
}
.played-film-image-wrap .badge {
    left: 10px;
}
}

@media (max-width: 985px) {
.movies .movies-film-wrapper figure img {
    height: 250px;
}
.watch_player_movie{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.watch_player_movie iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	min-height: auto;
}
}

@media (max-width: 768px) {
.played-film-image-wrap {
	display: none;
}
}

@media (max-width: 720px) {
.sun_movies_list .movies-film-wrapper {
    width: 33.3333333333%;
}
}

@media (max-width: 530px) {
.col-exs-6{width:50%}
.sun_movies_list .movies-film-wrapper {
    width: 50%;
}
.related-movies-wrapper {
    padding: 15px 10px;
    margin-bottom: 0px;
}
.sun_simp_info {
	margin-right: -7px;
    margin-left: -7px;
}
}
@media (max-width: 380px) {
.movies .movies-film-wrapper figure img {
    height: 230px;
}
.rating > label {
    font-size: 13px;margin: 0px 0 0px;
}
}