<div class="ads-wrapper">
	<div>
		<span class="material-icons" data-toggle="popover" data-html="true" data-content="<i class='fa fa-bullhorn fa-fw'></i> {{LANG promoted_by}} <b class='cname'>{{NAME}}</b>" data-container="body" data-trigger="hover" data-placement="top">info</span><span class="material-icons hide-ad" title="{{LANG hide}}">clear</span>
		<div class="clear"></div>
	</div>
    <a href="{{URL}}" class="fl-plus-box-shadow ad-renderer{{AD}}" target="_blank" {{ATTR_ID}}>
      <img src="{{IMAGE}}">
      <div class="clear"></div>
    </a>
    <div class="clear"></div> 
</div>