
<!------------------------ Create new collection [ popup layer ] ----------------------------->

<div id="layer_popup">
  <div class="layer_ovr">
  </div>
  <div class="playlist_add_layer_cnt mus_playlist-add mml_popup">
    <div class="portlet-i_h">
      Create a playlist
    </div>
    <div class="form">
      <div class="form_i mb-5">
        <div class="it_w noPadding">
          <input class="it vl_it" maxlength="100" type="text" id="nameOfAlbum">
          <span class="mus_playlist-add_placeholder" data-input="#nameOfAlbum">
            What'd you call it?
          </span>
        </div>
      </div>
      <div class="form_i noMargin" id="emptyPlayList">
        <div>
          
          <span>
            This playlist is empty.
          </span>
          
          <span class="m_c_s_c_go_to">
            
            <span>
              Add
            </span>
            
          </span>
        </div>
      </div>
      <div class="m_hidden mus_playlist-add_hld">
        <div class="mus_playlist-add_h">
          <div class="jcol-l">
            <div class="mus_tabs">
              
              <span class="mus_tabs_i __active">
                
                <span class="mus_tabs_i_a">
                  My music
                </span>
                
              </span>
              <span class="mus_tabs_i">
                
                <span class="mus_tabs_i_a">
                  
                  <span>
                    Selected
                  </span>
                  
                  <span class="mus_tabs_i_a_count">
                    0
                  </span>
                  
                </span>
              </span>
            </div>
          </div>
          <div class="jcol-r">
            <div class="mus_playlist-add_search">
              <input id="livesearch" class="it vl_it mus_playlist-add_livesearch">
              
              <span data-input="#livesearch" class="mus_playlist-add_placeholder">
                Search for music
              </span>
              
              <span class="mus_playlist-add_searchicon">
              </span>
              
            </div>
          </div>
        </div>
        <div class="mus_playlist-add_cnt">
          <div class="mus_playlist-add_tracks" style="height: 425px;">
            <div class="mus_playlist-add_lst">
              <ul>
                {foreach $query as $result}
                {assign var=artist value={$result.artist}}
                {assign var=title value={$result.title}}
                
                <li>
                  <div class="mus-tr_i __selectable soh-s">
                    <div class="mus-tr_hld">
                      <span class="mus-tr_play __play js-mus-tr_play" id="_pm_sec_{$result.id}" data-quest='{literal}{{/literal}"song":"{$result.path}","cover":"{$result.cover}"{literal}}{/literal}' title="Play">
                      </span>
                      <div class="mus-tr_cnt">
                        
                        <span class="mus-tr_artist">
                          {$artist}
                        </span>
                        &nbsp;&#8211;&nbsp; 
                        <span class="mus-tr_song">
                          {$title}
                        </span>
                        
                      </div>
                      <div class="mus-tr_right-controls foh-s">
                        
                        <span class="mus-tr_add">
                        </span>
                        
                      </div>
                    </div>
                  </div>
                </li>
                {/foreach}
              </ul>
            </div>
          </div>
          <div class="mus_playlist-add_shadow m_hidden">
          </div>
        </div>
        
      </div>
      <div class="form-actions">
        
        <span class="vl_btn" id="gwt-uid">
          Create
        </span>
        
        <span class="vl_a-sw ml-15 curPointer" uid="closeIntoPPL">
          Cancel
        </span>
        
      </div>
      <div class="layer_close ic ic_close">
      </div>
    </div>
    
  </div>
</div>
