
<!--------- Confirmation popup layer ----------->

{strip}
<div id="layer_popup">
  <div class="layer_ovr">
  </div>
  <div class="c_music_layer_cnt" >
    <div>
      <div class="mb30 portlet-i_h taCenter">
        Are you sure you want to delete the playlist with all the songs in it ?
      </div>
      <div class="form">
        <div class="form-actions">
          <span ac="confirmBtn" class="vl_btn" >
            Delete
          </span>
          <span uid="closeIntoPPL" class="vl_a-sw ml-15 curPointer">
            Cancel
          </span>
        </div>
      </div>
      <span class="layer_close ic ic_close">
      </span>
      
    </div>
  </div>
</div>

{/strip}