

<!---------- Feedback Popup Layer -------------------->


{strip}

<div id="layer_popup" class="hookBlock" feedback-popup-layer="10" style="display: block;">
  <div id="hook_PopLayer_popLayer">
    <div class="layer_ovr _dark">
    </div>
    <div id="popLayerBodyWrapper" class="modal_wrap" style="left:auto!important;visibility: visible;">
      <div id="popLayer_cc" class="popupSimple">
        <div class="mwt_cont">
          <table cellpadding="20" cellspacing="0" class="mw_tbl">
            <tbody>
              <tr>
                <td>
                  <div id="mp_mm_cont" class="mp_mm_cont">
                    <div class="panelLayer layerPanelSimple" id="cfrmPopLayerHelpFeedback">
                      <div class="panelLayer_head">
                        <div class="layerPanelCloseContainer">
                          <a href="javascript:void(0)">
                            <div class="layer_close ic ic_close">
                            </div>
                          </a>
                        </div>
                        <div class="panelLayer_head_headerSimple">
                          Contact Support
                        </div>
                      </div>
                      <div class="panelLayer_body">
                        <div id="feedbackFormWrapper">
                          <div>
                            <div class="hook" id="hook_Form_PopLayerHelpFeedbackForm">
                              <form name="feedbackForm" action="" method="post">
                                
                                <div class="form form__gl-2-2" style="padding: 3px 20px 0 0;">
                                  <div class="mb-15">
                                    <font color="red">
                                      We will not be able to contact you if you will not enter your correct email address.
                                    </font>
                                    
                                  </div>
                                  <div class="form_i" style="">
                                    <span class="input-l">
                                      <label for="field_name">
                                        Full Name
                                      </label>
                                    </span>
                                    <div class="it_w">
                                      <input type="text" name="m_feedback_field_name" value="{$user_name} {$user_family}" id="field_name" class="it it_w__3gc" cols="35" maxlength="80" rows="3">
                                      
                                    </div>
                                    <span class="input-e">
                                    </span>
                                    
                                  </div>
                                  <div class="form_i" style="">
                                    <span class="input-l">
                                      <label for="field_e-mail">
                                        E-mail
                                      </label>
                                    </span>
                                    <div class="it_w">
                                      <input type="text" name="m_feedback_u_email" value="{$user_email}" id="field_e-mail" class="it it_w__3gc" cols="35" maxlength="80" rows="3">
                                      
                                    </div>
                                    <span class="input-e">
                                    </span>
                                    
                                  </div>
                                  <div class="form_i">
                                    <span class="input-l">
                                      <label for="field_subject">
                                        Subject
                                      </label>
                                    </span>
                                    <div class="it_w">
                                      <input type="text" name="m_feedback_u_subject" value="" id="field_subject" class="it it_w__3gc" cols="35" maxlength="80" rows="3">
                                      
                                    </div>
                                    <span class="input-e">
                                    </span>
                                    
                                  </div>
                                  <div style="">
                                    <div class="form_i">
                                      <span class="input-l">
                                        <label for="field_message">
                                          Description
                                        </label>
                                      </span>
                                      <div class="itx_w">
                                        <textarea id="field_message" name="m_feedback_u_message" class="itx" cols="35" maxlength="1000" style="overflow-y: auto;" showremaining="50" rows="3">
                                        </textarea>
                                      </div>
                                      
                                    </div>
                                  </form>
                                  <form name="m_feedback_form" id="m_feedback_form" enctype="multipart/form-data"  method="post">
                                    <div class="form form__gl-2-2">
                                      <div class="form_i">
                                        <span class="input-d">
                                          Maximum file size 1024Kb
                                        </span>
                                        
                                        <span class="input-l">
                                          <label for="attachment">
                                            Attach a file
                                          </label>
                                        </span>
                                        <div class="it_w">
                                          <input type="file" accept="image/*" name="feedback_file" value="" id="attachment">
                                          <input type="hidden" name="submit" value="submit">
                                          
                                        </div>
                                        <span class="input-e">
                                        </span>
                                        
                                      </div>
                                      <div class="form_i">
                                        <div id="fileTransferBar" align="left" style="display: none;">
                                          Loading. Please wait.
                                          <br>
                                          <br>
                                          <img src="{$host}/music/css/images/filetransfer_220_orange.gif" alt="">
                                          
                                        </div>
                                        <div id="feedback_upload_output">
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                  <div class="formButtonContainer" style="padding: 0px;">
                                    <input type="button" name="button_send" send-m-feedback="true" value="Send a message">
                                
                                    <span class="lp vl_a-sw ml-15 curPointer">
                                      Cancel
                                    </span>
                                    
                                  </div>
                                </div>
                                <input type="hidden" id="feedback_upl_file" value="">
                                <div class="hook hookInvisible">
                                </div>
                                <div class="hook">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
    </div>
    
{/strip}