
<!--------------- Upload files [ popup layer ] -------------------------->

{strip}
<div id="layer_popup">
  <div class="layer_ovr">
  </div>
  <div class="up_music_layer_cnt" >
  {if $this->allow_upload_songs === "true"}
    <div class="mus_upload_title">
      By clicking "Select files" you accept and agree to abide by the terms and conditions of&nbsp; 
      <a href="http://{$host}/terms_and_condition.html" target="_blank" class="mus_upload_a il">regulations</a>.
    </div>
    <div class="mus_upload_cnt">
      <label class="vl_btn" tabindex="0">
        
        <span>
          Select files
        </span>
        <form name="musicformn" id="musicform" enctype="multipart/form-data"  method="post">
          <input type="hidden" data-upload-hiden="true" name="uploadin" value="mymusic">
          <input type="hidden" data-upload-playlist-cover="true" name="pl_cover" value="">
          <input accept="audio/mpeg" class="vl_btn_it" multiple="multiple" id="files" name="files[]" size="1" title="" type="file" value="">
        </form>
      </label>
    </div>
    <div class="mus_upload_tx">
      You should upload music files in MP3 format. Uploaded
      <br>
      file should meet the following technical requirements: bit rate not less than
      <br>
      128kbps, sampling frequency not less than 44,1 kHz.
      <br>
      Uploaded file should contain in IS3-tags the info on the singer
      <br>
      the title of the song and the name of the album, where it is published.
    </div>
    

	{else}
	<div class="fff">The upload section is closed for the moment, please retry later.</div>
    {/if}
	    <span class="layer_close ic ic_close">
    </span>
  </div>
</div>
{/strip}
