<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error 1009 Access denied!</title>
</head>
<body>
	<div>
		<h1>Access Denied!</h1>
		<h4>What happened?</h4>
		<p>
			Your IP  address <b>(<?php echo $_SERVER["REMOTE_ADDR"]; ?>)</b> has been banned by administrator of this site,
			and you are no longer able to access this website
		</p>
	</div>
	<style>
		div{
			width: 70%;
			margin: 150px auto;
			border: 1px solid #f1f1f1;
			padding: 20px;
			text-align: center;
		}

		h1{
			width: 100%;
			font-family: arial;
			font-size: 50px;
			color: #666;
		}

		h4{
			width: 100%;
			font-family: arial;
			font-size: 30px;
			color: #222;
		}
	</style>
	
</body>
</html>