<div id="answer-{{ENTRY_ID}}" class="vote-image-wrapper qz-lg-ans-wrapper" onclick="FL_GetQuizResult('{{ANS_ID}}','{{POST_ID}}','{{INDEX_ID}}','{{ENTRY_ID}}',this);">
	<div class="answer">
		<div class="answer-info pull-left">
			<div>
				<img src="{{ANS_IMAGE}}" alt="Image" class="responsive-img">
			</div> 
		</div>
		<br>
		<div class="answer-vote-wrapper" style="color: #222;">
			<p class="answer-text">
			{{ANS_TEXT}}
			</p>
			<span class="pull-left"><i class="fa fa-square-o"></i></span>
			
		</div>			
	</div>
</div>
