.profile-container .card.hovercard .user-avatar {
    margin-right: 10px;
}
.post-options {
    left: 0 !important;
    right: auto !important;
}
.panel .meta {
    margin-right: 60px;
}
.sidebar-conatnier .profile-style .card.hovercard .info .title {
    left: -90px;
}
textarea.postText {
    direction: rtl;
}
.left-sidebar li a img {
    margin-right: 0 !important;
    margin-left: 7px;
}
.profile-icon {
    margin-right: 0 !important;
    margin-left: 5px;
}
.header-brand {
    float: right !important;
    margin-right: 0 !important;
    margin-left: 30px;
}
.events-list-name {
    left:auto !important;
    right: 20px !important;
}
.pricing {
    padding-right: 0 !important;
}
.nav-names {
    margin-right: 115px !important;
    margin-left:0 !important;
}
.emo-comment {
    left: 0px !important;
    right: auto !important;
}
.emo-message {
    left: 92px !important;
    right: auto !important;
}
.text-sender-container textarea {
    padding-right: 10px !important;
    padding-left: 140px !important;
}
.emo-message-container {
    left: 0 !important;
    right: auto !important;
}
.wowonder-well img {
    float: right;
    margin-left: 10px;
}
.modal-title, .modal-body {
    text-align: right;
}
.post .post-footer .comments-list .comment .comment-body,
.lightbox-post-footer .comments-list .comment .comment-body {
    margin-left: 0 !important;
}
.wowonder-well .profile-style {
    float: right;
}
.profile-style .avatar img {
    margin-left: 10px !important;
    margin-right: 0 !important;
}
.home-sidebar.profile-style .user-follow-btn{
   padding-left: 10px;
}
.post .post-heading .avatar {
    margin-right: 5px;
}
.post-fetched-url img {
    margin-right: 0 !important;
    margin-left: 10px !important;
}
.user-fetch .user-information {
    margin-right: 100px !important;
    margin-left:auto !important; 
}
.user-fetch .user-name {
    margin-right: 10px !important;
}
.pin-icon {
    left: 11px;

}
.search-dropdown-container {
    margin-right: 15px !important;
}
.messages-wrapper .user-avatar {
    margin-left: 10px;
}
.messages-container {
    overflow-x: hidden;
}

.profile-cover-changer .btn-file {
    float: right !important;
}
.chat-container {
    left: 0;
    right: auto !important;
}
.chat-container input {
    border-right: 0 !important;
}
.chat_main {
    left: 215px !important;
    right: auto !important;
}
.chat_main:nth-child(2) {
    left: 480px !important;
    right: auto !important;
}
.chat_main:nth-child(3) {
    left: 745px !important;
    right: auto !important;
}
.chat-user-desc .col-sm-4 {
    padding-right: 15px !important;
    padding-left: 5px !important;
}
.chat-user-desc .col-sm-8 {
    padding-left: 10px !important;
    padding-right: 0 !important;
}
#re-calling-modal .col-md-2 {
    padding-left: 15px !important;
    padding-left: 0 !important;
}
.chat-textarea #sendMessage {
    direction: rtl;
    border: 0;
}
.chat-status .dropdown-menu-right, .wo_emoji_post{
    left: 0;
    right: auto;
}
.chat-status>span{
    margin-left:5px;
}
.recipient-chat-user .chat-loading-icon .ball-pulse {
    right: auto !important;
    left: 5px;
    float: left !important;
}
.chat-textarea .input-group-btn {
    left: 30px;
}
b,
strong {
    margin-left: 7px !important;
}
.search-container .search-input,
.post-footer .form-control.textarea,
.messages-search-users-form input,
.publisher-hidden-option input {
    direction: rtl;
}
.navbar-right .dropdown-menu.notifications-dropdown {
    left: 0 !important;
    right: auto;
}
.messages-recipients-list img {
    margin-left: 5px;
}
.recipient-chat-user img {
    margin-right: 10px;
    margin-left:5px
}

.filter-text {
    font-size: 14px !important;
}
.publisher-box .publisher-hidden-option {
    margin-left: 10px;
}
.publisher-box .charsLeft-post {
    margin-right: 5px;
}
.chat-opacity {
    width: 190px !important;
}
.post .post-heading .meta .title a b {
    font-size: 13px;
}
.post .post-heading .meta .title a {
    margin-right: 0px !important;
}
.post .post-footer .comments-list .comment .avatar {
    margin-left: 10px !important;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 0px !important;
    margin-right: 50px !important;
}
.user-fetch .user-avatar {
    margin-right: 5px;
}
.user-fetch .user-name {
    left: auto !important;
    right: 30%;
}
.activities-wrapper * {
    font-size: 11px;
}
.activities-wrapper .ajax-time {
    font-size: 10px;
}
.notification-list .notification-user-avatar img {
    margin-right: 0 !important;
    margin-left: 5px !important;
}
.sidebar-conatnier .profile-style .card.hovercard .info .title {
    /* top: -23px !important; */
    /* left: -80px !important; */
    /* font-size: 15px !important; */
}
.small-last-seen {
    font-size: 11px !important;
}
.sidebar-page-data .sidebar-listed-page-avatar img {
    padding:0px 0px 1px 1px !important;
}
.sidebar-page-data .sidebar-listed-page-name {
    right: 8px !important;
    left: auto !important;
}
.sidebar-page-data .sidebar-listed-page-like-btn {
    left: 8px !important;
    right: auto !important;
}
.chat-status {
    right: auto !important;
    left: 7px !important;
}
.user-details:before {
    left: auto;
    right: 10px;
}
.video-icon {
    cursor: pointer;
    margin-right: 0 !important;
    margin-left: 4px !important;
}
.lightbox-content .comment-section {
    border-top-right-radius:0 !important;
    border-bottom-right-radius:0 !important;
    border-top-left-radius:3px !important;
    border-bottom-left-radius:3px !important;
}
.lightbox-content .comment-section .post-info {
    padding-right: 10px;
}
.lightbox-post-footer .comment .avatar {
    margin-left: 10px;
}
.post .post-footer .comments-list .comment .comment-body, .lightbox-post-footer .comments-list .comment .comment-body {
    margin-right: 50px;
}
.answers input {
    padding-right: 5px !important;
    padding-left: 100px;
}
.create-album {
    margin-left: 5px;
    margin-right: 0 !important;
}
.image-comment {
    right: auto !important;
    left: 0px;
}
.send-comment {
   right: auto !important;
    left: 80px;
}
.left-sidebar ul {
    padding-left: auto !important;
    padding-right: 0px !important;
}
.left-sidebar ul li a i {
    margin-right: auto !important;
    margin-left: 10px;
}
.blog-sidebar {
    border-left: 0 !important;
    padding-left: 0 !important;
    border-right: 1px solid #eee;
    padding-right: 10px;
}
.read-blog .read-blog-info-user .user-image {
    margin-right: 0 !important;
    margin-left: 7px !important;
}

.wo_ads_wallet .my_wallet{
    border-right: 0px;
    border-left: 1px solid #e7e7e7;
}
.create-ads-cont .create-ads-inner-left {
    border-right: 0px;
    border-left: 1px solid #f1f1f1;
}
.ball-pulse {
    float: right !important;
    margin-left:0px !important;
    margin-right: 10px;
}
.my_pages_header .btn-success a svg.feather, .read-blog .blog-author-info .media-body .user-follow-button .btn svg.feather{
    margin: -3px -5px 0px 4px !important;
}
.wo-create-forms .wo_create_form_cover span a{
    right: auto !important;
    left: 15px;
}
.blog-h-list .avatar{
    margin: 0 0px 20px 20px !important;
}
.postMeta--author-avatar{
    padding-right: 0px !important;
    padding-left: 10px;
}
.main-blog-sidebar .popular-articles li .article-thumbnail img{
    margin-right: 0px !important;
    margin-left: 15px;
}
.main-blog-sidebar .popular-articles li .article-title, .main-blog-sidebar .popular-articles li .article-info{
    margin-left: 0px !important;
    margin-right: 95px;
}
.chat-textarea .chat-btns-w .ball-pulse{
    float: left !important;
}
.chat-textarea .chat-btns-w .record_timei{
    right: auto !important;
    left: 6px;
}
#wo_comment_combo .textarea {
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin-left: 0px !important;
    margin-right: 10px;
}
#wo_comment_combo .comment_combo_footer .wo_comment_fopt {
    text-align: end !important;
}
.event_invite_frnd input{
    padding-left: 10px;
    padding-right: 40px;
}
#search-nearby-users .nearby-users-gender svg.feather{
    margin: -3px 0px 0px 10px !important;
}
#search-nearby-users .nearby-users-relationship-collapse .friends_toggle{
    margin: -1px 0px 0px 5px !important;
}
.wo_game_style .btn-link{
    margin: 3px auto 4px 7px !important;
}
.wo_game_list_info{
    margin-left: 0px !important;
    margin-right: auto;
}
.wo_game_list_info .btn-info{
    margin: 8px auto 8px 10px !important;
}
.wo_group_profile .side_panel{
    left:auto !important;
    right:0;
}
.container .wo_group_profile .side_panel .box-inner {
    left: auto !important;
}
.right_user_info li svg.feather{
    margin: -3px 2px 0px 6px !important;
}
.widget-heading svg.feather{
    margin: -4px -2px 0px 5px !important;
}
.wo_settings_page .setting-panel-mdbtn svg.feather{
    margin: -2px 0px 0px 5px !important;    
}
.search-dropdown-result .search-user-avatar img{
    margin: 2px 0px 0px 10px !important;
}
.headtoppoint{
    margin-left: 0px !important;
    margin-right: -35px;
    left: auto !important;
    right: 100%;
}
.navbar-default li.dropdown.notification-container {
    margin-right: 0 !important;
    margin-left: 15px;
}
.wo_loading_post_child {
    transform: rotateY(180deg);
}
.wo_imagecombo_lbox .comment-section {
    right: auto !important;
    left: 0;
}
.wo_imagecombo_lbox .story-img {
    margin-left: 380px;
    margin-right: 0 !important;
}
.lightbox-content .user-avatar img {
    margin-right: 0 !important;
    margin-left: 9px;
}
.wo_imagecombo_lbox .emo-comment{
    left: auto !important;
    right: 0px !important;
}
.movies-navbar-wrapper ul li a svg.pull-right {
    margin: 2px 0px 0px -9px !important;
    float: left !important;
}
.movies-search {
    float: left !important;
}
.left-sidebar ul li a svg {
    margin-right: 0px !important;
    margin-left: 10px;
}
.slide-film-desc {
    margin-left: 0 !important;
    margin-right: auto;
}
.slide-film-desc svg.feather {
    margin: -2px -5px 0px 2px !important;
}
.wo_page_profile .page-info-cont .page_navbar {
    margin: 30px -20px -15px -15px !important;
    background: linear-gradient(to right,#f5f5f5,#fff) !important;
}
.wo_search_page .nav-tabs li a svg.feather {
    margin: -3px -1px 0px 3px !important;
}
.wo_user_side_info li {
    border-right: 0 !important;
    border-left: 1px solid #e9e9e9;
}
.wo_user_side_info li:last-child {
    border-left: 0px;
}
.user-status-home ul.status-list {
    padding-right: 0;
}
.sidebar .sidebar-title-back svg {
    margin: -3px 0px 0px 10px !important;
}
#wo_sidebar_users .avatar img {
    margin-right: 0 !important;
    margin-left: 15px;
}
.options .total-votes {
    text-align: left !important;
}
#fullsizeimg {
    margin-left: 0px;
    margin-right: -15px;
}
.publisher-box .post-avatar {
    left: auto !important;
    right: 10px;
}
.publisher-box .add-emoticons {
    right: auto !important;
    left: 10px;
}
.publisher-box .camera-button {
    right: auto !important;
    left: 55px;
}
.user-ad-container div.post-advertisement .sop-icon {
    right: auto !important;
    left: 50px;
}
.user-ad-container div.post-advertisement .ads-image {
    margin-right: 0px !important;
    margin-left: 10px;
}
.wo_product_row .product-name .product_row_title svg.feather {
    margin-right: 0px !important;
    margin-left: 4px;
}
.wo_product_row .product-name {
    border-right: 0px !important;
    border-left: 1px solid #e5e5e5;
}
.wo_product_row .product-name:last-child {
    border-left: 0px;
}
.wo_post_fetch_link .url{
    left: auto !important;
    right: 0;
}
.read-blog .blog-author-info .media-body h4 {
    padding-right: 0px !important;
    padding-left: 80px;
}
.wo_blogcomm_combo button{
    margin-left: 0px !important;
    margin-right: 10px;
}
.wo_blogcomm_combo img {
    margin-right: 0px !important;
    margin-left: 10px;
}
.wo_sidebar_activity{
    margin-left: 0 !important;
    margin-right: 45px;
}
.emoboxtoppoint{
    margin-right: -114px;
    left: auto;
    right: 100%;
}
.publisher-box .add-emoticons .emoboxtoppoint {
    margin-right: -27px;
}
.wo_emoji_chat .emoboxtoppoint{
    margin-right: -30px;
}
.wo_emoji_msg .emoboxtoppoint {
    margin-right: -95px;
}
.wo_market .market_widget .m_widget_head svg, .wo_market .market_search_header > span .btn svg, .wo_market .market_bottom .market_bottom_header h3 svg {
    margin-right: 0 !important;
    margin-left: 5px;
}
.wo_market .market_categories ul li a {
    padding-left: 0 !important;padding-right: 25px;
}
.wo_market .market_categories ul li a:after, .wo_market .market_categories ul li a:before {
    left: auto !important;right: 0;
}
.wo_market .market_search_header > form .form-group input {
    padding-left: 12px !important;padding-right: 50px;
}
.wo_market .market_search_header > form .form-group svg {
    left: auto !important;right: 15px;
}
.wo_market .market_search_header > span .btn {
    margin-left: 0 !important;margin-right: 15px;
}
.inline_post_emoji {
    margin-right: 0 !important;margin-left: 4px;
}
.inline_post_emoji .emoji {
    right: auto !important;
    left: 285%;
}
.reactions-box {
    right: -10px;
}
.reaction {
    float: right !important;
}
.emoji {
    right: auto !important;
    left: 76%;
}
.like-emo > .how_reacted {
    margin: 0 -6px 0 0 !important;
}
.like-emo > .how_reacted:nth-child(1) {
    margin-left:0 !important;
    margin-right: -10px !important;
}
.inline_post_count_emoji .emoji {
    right: auto !important;
    left: 324%;
}
#comment_reacted {
    float: right !important;
}
.search-container .inner-addon .glyphicon {
    margin: 5px 5px 5px 0 !important;
}
#inline_emo_react .wo_who_react_this .inline_act_emoji {
    margin: 0px !important;
}
#inline_emo_react .wo_who_react_this {
    right: auto !important;
    left: 10px;
}
#wo_comm_emojis {
    left: 0;
    right: auto;
}
.msg_mrk_rd {
    margin-left: 0 !important;margin-right: 10px;
}
#wo_msg_right_prt .message-option-btns .btn.messages-rtime {
    left: -7px !important;
    right: auto !important;
}
#wo_msg_right_prt .msg_write_combo {
    padding-right: 0 !important;padding-left: 5px;
}
body .wo_imagecombo_lbox.story_lightbox .wo_story_header .wo_stor_h_opts {
    margin-left: 0;margin-right: auto;
}
body .wo_imagecombo_lbox.story_lightbox .wo_story_header .wo_stor_h_info .user-avatar, body .wo_imagecombo_lbox.story_lightbox .story_view_list .user-avatar {
    margin-right: 0;margin-left: 9px;
}
body .wo_imagecombo_lbox.story_lightbox .story_image_owner {
    margin-right: 380px !important;
    margin-left: 0;
}
body .wo_imagecombo_lbox.story_lightbox .comment-section {
    right: 0;
    left: auto;
}







@media (min-width: 992px){
.col-md-3.sidebar {
    padding-right: 0;
    padding-left:15px;
}
#wo_nw_msg_page .mobilerightpane .inner-addon {
    right: auto !important;left: 0;
}
#wo_msg_right_prt .wo_msg_user_dtl {
    border-left: 0 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#wo_nw_msg_page .messages-users-list {
    direction: ltr !important;
}
#wo_nw_msg_page .messages-users-list .tab-pane {
    direction: rtl !important;
}
#wo_msg_right_prt .wo_msg_user_dtl .wo_msg_dtl_top .delete-icon {
    margin: 0 auto 0 0 !important;
}
}

@media (max-width: 1270px){
.wo_imagecombo_lbox .story-img {
    margin-left: 350px;
}
body .wo_imagecombo_lbox.story_lightbox .story_image_owner {
    margin-right: 350px !important;
}
}

@media (max-width: 1140px){
.wo_imagecombo_lbox .story-img {
    margin-left: 320px;
}
body .wo_imagecombo_lbox.story_lightbox .story_image_owner {
    margin-right: 320px !important;
}
}

@media (max-width: 800px){
body .wo_imagecombo_lbox.story_lightbox .story_image_owner {
    margin-right: 0 !important;
}
}

@media (max-width: 767px) {
    .header-brand {
        right: 10px !important;
        margin-left: 0px !important;
        margin-top: -3px;
    }
    .wo_ads_wallet .my_wallet{
    border-left: 0px;
}
.create-ads-cont .create-ads-inner-left {
    border-right: 0px;
    border-right: 0px;
}
}
@media (max-width: 600px) {
    .profile-container .card {
        border-bottom-right-radius: 3px !important;
    }
}
@media (max-width: 570px){
.wo_loading_post_child {
    transform: scale(0.9) rotateY(180deg) !important;
}
}
@media (max-width: 520px){
.navbar-default li.dropdown.notification-container {
    margin-left: 3px;
}
.wo_search_page .nav-tabs li a svg.feather {
    margin: auto !important;
}
}
@media (max-width: 480px){
.read-blog .blog-author-info .media-body h4 {
    padding-left: 0px;
}
.wo_loading_post_child {
    transform: scale(0.8) rotateY(180deg) !important;
}
.post .post-footer .comments-list .comment .comment-body .reactions-box {right: -50px;}
.post .post-footer .comments-list .reply .comment-body .reactions-box { right: -100px;}
}
@media (max-width: 420px){
.wo_loading_post_child {
    transform: scale(0.7) rotateY(180deg) !important;
}
.wo_search_page .nav-tabs li a svg.feather {
    margin: -3px -1px 0px 3px !important;
}
}
@media (max-width: 345px){
.post .post-footer .comments-list .reply .comment-body .reactions-box {
    right: -30px;
}
}