<div class="entry" data-type="image" data-id="{{ENTRY_TIME}}" id="entry-{{ENTRY_TIME}}">
	<div class="entry-name pull-left">
	   <i class="fa fa-picture-o"></i> 
	   {{LANG image}}
	</div>
	<div class="pull-right manage-entries">
	   <i class="material-icons down" onclick="FL_DownEntry({{ENTRY_TIME}});">keyboard_arrow_down</i>
	   <i class="material-icons up" onclick="FL_UpEntry({{ENTRY_TIME}});">keyboard_arrow_up</i>
	   <i class="material-icons" onclick="FL_RemoveEntry({{ENTRY_TIME}});">delete</i>
	</div>
	<div class="clear"></div>
	<div class="error-con"></div>
	<div class="form-group">
	    <input type="text" class="form-control" data-name="entry_title" placeholder="{{LANG title_optional}}">
	    <input type="file" class="form-control hidden" id="entry-image-file-{{ENTRY_TIME}}" onchange="FL_UploadImage('{{ENTRY_TIME}}', '{{LANG set_as_p_image}}');">
	    <input type="hidden" class="form-control" data-name="entry_image" id="entry-image-file-name">
	</div>
	<div class="img-content">
		<div class="preview-image" onclick="document.getElementById('entry-image-file-{{ENTRY_TIME}}').click();">
		    <div class="content">
			    <i class="fa fa-upload"></i> {{LANG choose_img}}
		    </div>
	    </div>
	    <div class="img-set-as"></div>
	</div>
	<div class="image-link">
	    <div class="form-group">
		    <input type="text" class="form-control" id="entry-image-link" placeholder="{{LANG img_link}}">
		</div>
		<div class="form-group pull-right">
	        <button class="btn btn-blue" type="button" onclick="FL_FetchImage({{ENTRY_TIME}}, '{{LANG set_as_p_image}}');">
		      <i class="fa fa-link progress-icon" data-icon="link"></i> {{LANG fetch_url}}
	        </button>
	    </div>
	    <div class="clear"></div>
	</div>
	<span href="#" class="fetch-image-link" onclick="FL_OpenFetchImageInput({{ENTRY_TIME}});"><i class="fa fa-link"></i> {{LANG fetch_url_from_image}}</span>
</div>