<!--------------------------------- RADIO PAGE [ TEMPLATE ] ------------------------------->
{strip}
<div class="m_c_s" aria-hidden="false">
  <div>
    <div class="m_c_s_myRadio">
      <div class="m_c_s_header">
        <div class="m_c_s_headerWrapper">
          <div class="m_c_s_header_title">
            Broadcast&nbsp;
          </div>
        </div>
        
      </div>
      <div class="mus_radio_w __inactive" style="height: 614px;">
        <div class="mus_radio" style="height: 240px;">
          <div class="mus_radio_noise">
            <div class="mus_radio_dec">
              <div class="mus_radio_top-grad">
              </div>
              <div class="mus_radio_bot-grad">
              </div>
              <div class="mus_radio_active-track">
              </div>
            </div>
            <div class="mus_album_frame usel-off">
              <div class="mus_album_i_w">
                <div class="curPointer">
                  <div class="mus_album_side mus_album_side__a">
                    <img alt="" width="100%" height="100%" class="mus_album_i" src="{$defaultcover}">
                  </div>
                </div>
                <div class="mus_album_i_play">
                </div>
              </div>
            </div>
            <div class="mus_album">
              <div class="mus_radio_tracks" style="top: -90px;">
                <div class="mus-tr_lst mus_scroll-overlay">
                  <div class="mus_scroll-overlay_dummy">
                  </div>
                  <div id="radio_station_tracks">
                    
                    <!-- ========= there appear the tracks of radio station selected ========= --->
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="mus_radio_stations_w usel-off" style="top: 240px;">
        <div class="mus_radio_stations_top-fader">
        </div>
        <div class="mus_radio_stations mus-custom-scrolling">
          <div class="mus_h2">
            
            <span>
              Choose Station
            </span>
            
            <a class="mus_h2_a curPointer m_hidden">
              Reset
            </a>
            
          </div>
          <div class="mus_radio_stations_lst">
            
            {foreach $rows as $result}
            {assign var=artist value={$this->getRadioArtists($result.genre)}}
            {assign var=radio_name value={$result.genre}}
            {assign var=radio value={$this->replaceRadioName($radio_name)}}
            {assign var=rd_id_name value={$this->replaceRadioWhiteSpace($radio_name)}}
            
            
            <div class="mus_radio_stations_i" id="{$radio_name}" data-id="{$rd_id_name}">
              <div class="mus_radio_stations_i_b">
                <div class="mus_radio_station_h ellip">
                  {$radio}
                </div>
                <div class="mus_radio_station_d_w">
                  <div class="mus_radio_station_d ellip">
                    {$artist} and others
                  </div>
                  <div class="mus_radio_station_d_l">
                    updating broadcast...
                  </div>
                </div>
              </div>
            </div>
            {foreachelse}
            The radio is empty.
            {/foreach}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{/strip}