
<!------------------------------- Template for popular page ------------------------------------>
{strip}


<div>
  <div class="m_c_s_featured">
    <div class="m_c_s_header">
      <div class="m_c_s_headerWrapper">
        <div class="m_c_s_header_title">
          Popular music
        </div>
        
      </div>
    </div>
    <div class="m_c_s_scrollable mus-custom-scrolling" style="height: 570px;">
      <div class="mus_content_w">
        
        <div class="mus_h2" id="gwt-uid-8">
          Playlists
        </div>
        <div class="mb-20 pl-mb-90">
          <div>
            
            <!------------------------------- Top 4 playlists ---------------------------->
            
            <!-- foreach loop -->
            {foreach $p_res as $pr}
            {assign var=p_cover value={$pr.favorite_cover}}

            
            <div class="mus_card_i">
              <div id="crdI_{$pr.id}" data-pl-count="{$pr.pl_c}" class="mus_card" uid="card">
                <div class="col-card">
                  <div class="mus_card_img_w mus_card_img_w__col">
                    <img src="{urldecode($p_cover)}" class="mus_card_img">
                    <div class="mus_card_ac_lst">
                      <span class="mus_card_ac_i mus_card_ac_i__pl" uid="pl" data-href="playlist" data-action="true" data-query="?action=playlist&play=true&i={$pr.id}">
                        <span class="mus_card_play">
                        </span>
                        Play
                      </span>
                      <span class="mus_card_ac_i mus_card_ac_i__ps" uid="pause">
                        <span class="mus_card_play __pause">
                        </span>
                        pause
                      </span>
                      <span class="mus_card_ac_i mus_card_ac_i__add" uid="add">
                        <span class="mus_card_add">
                        </span>
                        add
                      </span>
                      <span class="mus_card_ac_i mus_card_ac_i__success">
                        <span class="mus_card_add __added">
                        </span>
                        Added
                      </span>
                      <span class="mus_card_ac_i mus_card_ac_i__more" data-href="playlist" data-action="true" data-query="?action=playlist&i={$pr.id}">
                        <span class="mus_card_more">
                        </span>
                        more
                      </span>
                    </div>
                  </div>
                </div>
                
                <div class="mus_card_n_w">
                  <div class="mus_card_n textWrap" data-href="playlist" data-action="true" data-query="?action=playlist&i={$pr.id}">
                    <span class="mus_card_n_a mus-l" title="{urldecode($pr.name)}">
                      {urldecode($pr.name)}
                    </span>
                  </div>
                </div>
                
                {if strtotime($pl_is_new, $pr.added) >= time()}
                <span class="mus_card_new">
                </span>
                {/if}
              </div>
              
            </div>
            {foreachelse}
            <div style="margin:10px 0px 10px;">
              Sorry, but there no playlists.
            </div>
            {/foreach}
            
            <div class="mus_album-list_more" aria-hidden="true" style="display: none;">
            </div>
            <div>
              <span data-href="playlist" class="m_c_s_c_go_to" style="display:inline-block;margin-top:20px;">
                Top playlists
              </span>
            </div>
          </div>
        </div>
        <div class="mus_separator">
        </div>
        <div class="mus_h2">
          
          <span class="vaMid" id="gwt">
            Popular
          </span>
          <div class="mus_tabs __multitop">
            <div class="mus_tabs_cnt">
	      <div id="m_l_f_dropDown"></div>
              <div class="mus_tabs_i 1" index-ovr="true" data-href="popular" data-action="true" data-query="?cta">
                <div class="mus_tabs_i_a">
                  All
                </div>
		<span class="mus_last_upload_arrow m_last_uploads"></span>
              </div>
              <div class="mus_tabs_i 2" index-ovr="true" data-href="popular" data-action="true" data-query="?ct=hipHop">
                <div class="mus_tabs_i_a">
                  Hip hop
                </div>
              </div>
              <div class="mus_tabs_i 3" index-ovr="true" data-href="popular" data-action="true" data-query="?ct=trance">
                <div class="mus_tabs_i_a">
                  Trance
                </div>
              </div>
              <div class="mus_tabs_i 4" index-ovr="true" data-href="popular" data-action="true" data-query="?ct=popDance">
                <div class="mus_tabs_i_a">
                 Pop music
                </div>
              </div>
              <div class="mus_tabs_i 5" index-ovr="true" data-href="popular" data-action="true" data-query="?ct=rock">
                <div class="mus_tabs_i_a">
                  Rock
                </div>
              </div>
              <div class="mus_tabs_i 6" index-ovr="true" data-href="popular" data-action="true" data-query="?ct=other">
                <div class="mus_tabs_i_a">
                  Miscellaneous
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!------------------------------- Popular Songs ---------------------------->
        
        <div style="font-size:12px;padding-bottom: 20px;" class="mus-tr_lst mus_scroll-overlay" style="opacity: 1;">
          <ol>
            
            {foreach $s_res as $result}
            {assign var=song_down value=''}
            <!---- check if song is ready for download --->
            {if $result.language eq $s_av_down }
            {assign var=song_down value='__download'}
            {/if}
            
            <li target="#pm_sec_best_{$result.id}">
              <div class="mus-tr_i  __has-video soh-s {$song_down}" id="tri_m_sec_best_{$result.id}">
                <div class="mus-tr_hld">
                  <span class="mus-tr_play __play js-mus-tr_play" id="pm_sec_best_{$result.id}" title="Play" data-action="play" data-quest='{literal}{{/literal}"song":"{$result.path}","cover":"{$result.cover}"{literal}}{/literal}'>
                  </span>
                  
                  {if $song_down != ''}
                  <span class="mus-tr_download js-mus-tr_download" title="Download">
                  </span>
                  {/if}
                  
                  <div class="mus-tr_cnt">
                    <a class="mus-tr_a mus-tr_artist">
                      {$result.artist}
                    </a>
		   &nbsp;&#8211;&nbsp;
                    <a class="mus-tr_a mus-tr_song">
                      {$result.title}
                    </a>
                    <span class="foh-s mus-tr_info">
                      &nbsp;from&nbsp;
                      <a class="mus-tr_a mus-tr_album">
                        <span class="mus-tr_album-ic ic10_album">
                        </span>
                        {$result.album}
                      </a>
                    </span>
                  </div>
                  <div class="mus-tr_right-controls foh-s" id="rc_m_sec_best_{$result.id}">
                    <span class="mus-tr_add js-mus-tr_add" title="Add to My music">
                    </span>
                    <span class="mus-tr_dropdown js-mus_dropdown_trigger" title="Add to the playlist">
                    </span>
                  </div>
                  <span class="mus-tr_time">
                    {$result.time}
                  </span>
                </div>
                {if $result.video > '0'}
                <div class="mus-tr_video" data-showVideo="true" data-video="{$result.video}">
                  
                </div>
                {/if}
              </div>
            </li>
            
            {foreachelse}
            <div style="margin-top:40px;">
              Sorry, but there no songs yet
            </div>
            {/foreach}
            
            
          </ol>
        </div>
      </div>
      
{/strip}