<div class="entry" data-type="option" data-id="{{ENTRY_ID}}" id="entry-{{ENTRY_ID}}">
	<div class="entry-name pull-left">
	   <i class="fa fa-check-square-o"></i> 
	   {{LANG poll}}
	</div>
	<div class="pull-right manage-entries">
	   <i class="material-icons down" onclick="FL_DownEntry({{ENTRY_ID}});">keyboard_arrow_down</i>
	   <i class="material-icons up" onclick="FL_UpEntry({{ENTRY_ID}});">keyboard_arrow_up</i>
	   <i class="material-icons" onclick="FL_RemoveEntryByID({{ENTRY_ID}});">delete</i>
	</div>
	<div class="clear"></div>
	<div class="error-con"></div>
	<div class="form-group">
	    <input type="text" class="form-control" data-name="entry_option_name" placeholder="{{LANG option}}" value="{{ENTRY_TITLE}}">
	    <input type="file" class="form-control hidden" id="entry-image-file-{{ENTRY_ID}}" onchange="FL_UploadImage('{{ENTRY_ID}}', '{{LANG set_as_p_image}}');">
	    <input type="hidden" class="form-control" data-name="entry_image" id="entry-image-file-name" value="{{ENTRY_IMAGE}}">
	</div>
	<div class="img-content">
		<div class="preview-image" onclick="document.getElementById('entry-image-file-{{ENTRY_ID}}').click();">
		    <div class="post-image">
		      <img src="{{ENTRY_IMAGE}}">
		    </div>
	    </div>
	    <div class="img-set-as"></div>
	</div>
	<div class="image-link">
	    <div class="form-group">
		    <input type="text" class="form-control" id="entry-image-link" placeholder="{{LANG img_link}}">
		</div>
		<div class="form-group pull-right">
	        <button class="btn btn-blue" type="button" onclick="FL_FetchImage({{ENTRY_ID}}, '{{LANG set_as_p_image}}');">
		      <i class="fa fa-link progress-icon" data-icon="link"></i> {{LANG fetch_url}}
	        </button>
	    </div>
	    <div class="clear"></div>
	</div>
	<span href="#" class="fetch-image-link" onclick="FL_OpenFetchImageInput({{ENTRY_ID}});"><i class="fa fa-link"></i> {{LANG fetch_url_from_image}}</span>
	<div class="form-group answers">
	    {{LANG voted_error}}
	</div>
	<?php if ($fl['entry']['poll_type'] == 'text'): ?>
		<div class="answers">
			<div id="answer-text-{{ENTRY_ID}}"  class="active" data-ans-type="text">
				<div id="answer-text-cont">
					<div class="answer" id="answer-1" data-id="1">
				    	<input type="text" class="form-control entry_answer" data-answer="entry_answer" placeholder="{{LANG answer}} 1">
				    	<span class="fa fa-times" onclick="FL_RemoveInput({{ENTRY_ID}}, 1);"></span>
				    </div>
				</div>
				<div class="clear"></div>
				<hr>
			    <button class="btn btn-main" onclick="FL_AddAnswer({{ENTRY_ID}}, '{{LANG answer}}');" type="button"><i class="fa fa-plus progress-icon" data-icon="plus"></i> {{LANG add_answer}}
				</button>
			</div>
		</div>
	<?php elseif($fl['entry']['poll_type'] == 'image'):?>
		<div class="answers">
			<div id="answer-img-{{ENTRY_ID}}" class="active" data-ans-type="img">
				<div id="answer-img-cont">
					<div class="col-xs-12 answer-img-wrapper">
						<div class="answer-img" >
							<div class="pick-answer-img opt-ans-preview-{{ENTRY_ID}}" id="{{ENTRY_ID}}" data-id="1">

								<div class="preview">
									<h5 id="preview-image-{{ENTRY_ID}}-1"><small><i class="fa fa-plus"></i> {{LANG choose_img}}</small></h5>
									
								</div>
								<input class="hidden entry_answer" data-answer="entry_answer" id="1" value="">
							</div>
						</div>
						<span onclick="$(this).parent().remove();"><i class="fa fa-times"></i></span>
					</div>
					<div class="col-xs-12 answer-img-wrapper">
						<div class="answer-img" >
							<div class="pick-answer-img opt-ans-preview-{{ENTRY_ID}}" id="{{ENTRY_ID}}" data-id="2">

								<div class="preview">
									<h5 id="preview-image-{{ENTRY_ID}}-2"><small><i class="fa fa-plus"></i> {{LANG choose_img}}</small></h5>
									
								</div>
								<input class="hidden entry_answer" data-answer="entry_answer" id="2" value="">
							</div>
						</div>
						<span onclick="$(this).parent().remove();"><i class="fa fa-times"></i></span>
					</div>
				</div>
				<div class="clear"></div>
				<hr>
				<button class="btn btn-main" onclick="FL_AddImgAnswer({{ENTRY_ID}}, '{{LANG choose_img}}');" type="button">
				<i class="fa fa-plus progress-icon" data-icon="plus"></i> {{LANG add_answer}}
				</button>
			</div>
			<input type="file" id="opt-img-{{ENTRY_ID}}" class="hidden" onchange="FL_UploadOptImg({{ENTRY_ID}},this);">
		</div>
	<?php endif;?>
</div>