<nav class="navbar latest-lists-nav">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-custom-collapse">
      <ul class="nav navbar-nav">
          <li><a href="{{LINK create-new?type=news}}"><i class="fa fa-fw fa-file"></i> {{LANG news}}</a></li>
	      <li><a href="{{LINK create-new?type=list}}"><i class="fa fa-fw fa-bars"></i> {{LANG list}}</a></li>
	      <li><a href="{{LINK create-new?type=poll}}"><i class="fa fa-fw fa-bar-chart"></i> {{LANG poll}}</a></li>
	      <li><a href="{{LINK create-new?type=video}}"><i class="fa fa-fw fa-video-camera"></i> {{LANG video}}</a></li>
	      <li><a href="{{LINK create-new?type=music}}"><i class="fa fa-fw fa-volume-up"></i> {{LANG music}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>