<div class="row top-news-list">
   <div class="col-md-11">
      <div class="news latest-news-list" data-id="{{NEWS_ID}}" data-type="news">
         <div class="col-sm-5">
            <div class="latest-news-img">
               <img src="{{NEWS_IMAGE}}" alt="{{NEWS_TITLE}} Image">
            </div>
         </div>
         <div class="col-sm-7 no-padding-left no-padding-right">
            <div class="latest-news-title">
               <a href="{{NEWS_URL}}">
                  <h4>{{NEWS_TITLE}}</h4>
               </a>
            </div>
            <div class="latest-news-info">
               <span class="latest-news-time">
               <i class="fa fa-clock-o"></i> {{NEWS_POSTED}} |
               </span>
               <span class="latest-news-time">
               {{LANG by}} <i class="fa fa-user"></i> <a href="{{NEWS_PUBLISHER__URL}}">{{NEWS_PUBLISHER__NAME}}</a> 
               </span>
            </div>
            <div class="latest-news-disc">
               {{NEWS_DESC}}
            </div>
         </div>
         <div class="clear"></div>
      </div>
   </div>
   <div class="col-md-1">
      <div class="dropdown">
         <a class="dropdown-toggle pointer" type="button" data-toggle="dropdown">
            <i class="material-icons">more_vert</i>
         </a>
         <ul class="dropdown-menu custom-dropdown">
            <li><a href="https://www.facebook.com/sharer.php?u={{NEWS_ENCODED_URL}}" target="_blank"><i class="fa fa-fw fa-facebook"></i> {{LANG facebook}}</a></li>
            <li><a href="https://plus.google.com/share?url={{NEWS_ENCODED_URL}}" target="_blank"><i class="fa fa-fw fa-google"></i> {{LANG google_plus}}</a></li>
            <li><a href="http://twitter.com/intent/tweet?text={{NEWS_TITLE}}&url={{NEWS_ENCODED_URL}}" target="_blank"><i class="fa fa-fw fa-twitter"></i> {{LANG twitter}}</a></li>
            <li><a href="http://www.reddit.com/submit?url={{NEWS_ENCODED_URL}}" target="_blank"><i class="fa fa-fw fa-reddit"></i> {{LANG reddit}}</a></li>
         </ul>
      </div>
      <div class="clear"></div>
   </div>
</div>