<div class="entry" data-type="image" data-id="{{ENTRY_TIME}}" id="entry-{{ENTRY_TIME}}">
	<div class="entry-name pull-left">
	   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M8.5,13.5L11,16.5L14.5,12L19,18H5M21,19V5C21,3.89 20.1,3 19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19Z"></path></svg>
	   {{LANG image}}
	</div>
	<div class="pull-right manage-entries">
	   <i class="material-icons down" onclick="FL_DownEntry({{ENTRY_TIME}});">keyboard_arrow_down</i>
	   <i class="material-icons up" onclick="FL_UpEntry({{ENTRY_TIME}});">keyboard_arrow_up</i>
	   <i class="material-icons" onclick="FL_RemoveEntry({{ENTRY_TIME}});">delete</i>
	</div>
	<div class="clear"></div>
	<div class="error-con"></div>
	<div class="form-group">
	    <input type="text" class="form-control" data-name="entry_title" placeholder="{{LANG title_optional}}">
	    <input type="file" class="form-control hidden" id="entry-image-file-{{ENTRY_TIME}}" onchange="FL_UploadImage('{{ENTRY_TIME}}', '{{LANG set_as_p_image}}');">
	    <input type="hidden" class="form-control" data-name="entry_image" id="entry-image-file-name">
	</div>
	<div class="img-content">
		<div class="preview-image" onclick="document.getElementById('entry-image-file-{{ENTRY_TIME}}').click();">
		    <div class="content">
			    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z"></path></svg> {{LANG choose_img}}
		    </div>
	    </div>
	    <div class="img-set-as"></div>
	</div>
	<hr>
	<div class="image-link">
	    <div class="form-group">
		    <input type="text" class="form-control" id="entry-image-link" placeholder="{{LANG img_link}}">
		</div>
		<div class="form-group pull-right">
	        <button class="btn btn-blue fl_btn" type="button" onclick="FL_FetchImage({{ENTRY_TIME}}, '{{LANG set_as_p_image}}');">
		      <i class="fa fa-link progress-icon" data-icon="link"></i> {{LANG fetch_url}}
	        </button>
	    </div>
	    <div class="clear"></div>
	</div>
	<span href="#" class="fetch-image-link btn btn-gray fl_btn" onclick="FL_OpenFetchImageInput({{ENTRY_TIME}});"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" /></svg> {{LANG fetch_url_from_image}}</span>
</div>