<div class="fl-plus-sidebar-news-list-wrapper fl-plus-sidebar-music-list-wrapper">
	<div class="fl-plus-sidebar-news-list-img" style="background-image: url('<?php echo $fl['trending_data']['post']['small_image'] ?>');">
	</div>
	<div class="fl-plus-sidebar-news-list-title">
		<a href="<?php echo $fl['trending_data']['post']['url'] ?>">
			<article>
				<?php echo $fl['trending_data']['post']['title'] ?>
			</article>
		</a>
		<time>
			<i class="fa fa-clock-o"></i> <?php echo $fl['trending_data']['post']['posted'] ?> &nbsp; 34 {{LANG views}}
		</time>
	</div>
</div>