<div>
	<div class="item" style="background-image: url('<?php echo $fl['latest_videos_data']['video']['small_image']?>');">
	    <div class="video-title">
	    	<a href="<?php echo $fl['latest_videos_data']['video']['url']?>">
		    	<h4>
		        <?php echo $fl['latest_videos_data']['video']['title']?>
		        </h4>
	        </a>
	    </div>
	    <a href="<?php echo $fl['latest_videos_data']['video']['url']?>">
		    <div class="play">
		    	<i class="fa fa-play"></i>
		    </div>
		</a>
	</div>
</div>