

<!--------------------------- EDIT MUSIC [ TEMPLATE ] ------------------------>

{strip}

{foreach $query as $result}



{if $condition === 0 }
<div>
  <div class="mus_content_w">
    <div class="mus_album __edit">
      <div class="mus_album_i__fixed" style="position:fixed;">
        <div class="mus_album_i_w">

          <div class="mus_album_side_w curPointer">
            <div class="mus_album_side mus_album_side__c">
              
              <img alt="" class="mus_album_i" src="{$this->defaultCover}">
  
  </div>
  <div class="mus_album_side mus_album_side__a">
    <img alt="" style="width:128px;height:128px;" class="mus_album_i" src="{$result.cover}">
  </div>
  </div>
  </div>
  
  
  
  <div class="m_c_s_c_go_to mt-5" title="{$result.artist}">
    {$result.artist}
  </div>
  <div class="m_c_col-data">
    <div class="m_c_col-data_ac">
      
      <a class="mtico mus-dl m_c_col-data_ac_i __14 js-hide-in-edit m_hidden">
        <i class="mic14 mic14_upload">
        </i>
        <span>
          Upload music
        </span>
      </a>
      <div aria-hidden="true" class="mb-10" style="display: none;">
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress __dark" role="progressbar">
          <div class="progress_bar" style="width: 0%;">
          </div>
          <div aria-hidden="false" class="progress_tx ellip">
          </div>
          
          <span class="progress_ac">
            
            <span class="progress_ac_ic ic10 ic10_close-w m_hidden" role="button" title="Cancel">
            </span>
            
          </span>
        </div>
      </div>
      <div class="mtico m_c_col-data_ac_i __14" aria-hidden="true" style="display: none;">
        <div class="tico">
          <i class="tico_img ic">
          </i>
          <span class="mus-text">
          </span>
        </div>
      </div>
      
      <a class="mtico mus-dl m_c_col-data_ac_i __14 js-hide-in-edit js-pl-edit m_hidden">
        <i class="mic14 ic14_edit">
        </i>
        <span>
          Edit
        </span>
      </a>
      
      <a class="vl_btn m_c_col-data_finish js-pl-edit-finish finish_my_music" data-href="mymusic">
        Ready
      </a>
      
    </div> 
    </div></div> 
    <div class="mus-tr_lst mus_scroll-overlay" style="min-height: 280px;">
      <div id="mus_sort" data-act="my">
        
        <ol>
         {/if}
          {assign $condition $condition++ nocache}
          {assign var=artist value={$result.artist}}
          {assign var=title value={$result.title}}
          {assign var=album value={$result.album}}
          {assign var=id value={$result.id}}
          <li target="#pm_sec_{$id}" id="tracks_{$id}">
            <div class="mus-tr_i  __has-video soh-s mus_track" edit-track-id="{$id}" id="track_{$id}" data-position="{$result.position}" style="">
              <div class="mus-tr_hld __pr-m">
                <span class="mus-tr_restore">
                  <span class="mus-tr_restore_tx">
                    <span class="mus-tr_il js-mus-tr_restore" trackId="track_{$id}" data-action="restore">
                      Restore?
                    </span>
                    &nbsp;{$artist}&nbsp;&#8211;&nbsp;{$title}
                  </span>
                </span>
                <span class="mus-tr_play __play js-mus-tr_play" id="pm_sec_{$id}" title="Play" data-action="play" data-quest='{literal}{{/literal}"song":"{$result.path}","cover":"{$result.cover}"{literal}}{/literal}' >
                </span>
                <div class="mus-tr_cnt">
                  <a class="mus-tr_a mus-tr_artist" onclick="event.preventDefault();event.stopImmediatePropagation();">
                    {$artist}
                  </a>
                  &nbsp;&#8211;&nbsp;
                  <a class="mus-tr_a mus-tr_song" onclick="event.preventDefault();event.stopImmediatePropagation();">{$title}
                </a>
                  <span style="display:none;" class="foh-s mus-tr_info">
                    &nbsp;from&nbsp;
                    <a class="mus-tr_a mus-tr_album" onclick="event.preventDefault();event.stopImmediatePropagation();">
                      <span class="mus-tr_album-ic ic10_album">
                      </span>
                      {$album}
                    </a>
                  </span>
                  </div>
                  <div class="mus-tr_right-controls foh-s"  id="rc_m_sec_klass">
                    <span class="mus-tr_edit js-mus-tr_edit" trackid="track_{$id}" title="Edit" data-action="edit">
                    </span>
                    <span class="mus-tr_delete js-mus-tr_delete " title="Remove from my list" trackId="track_{$id}" data-action="delete">
                    </span>
                  </div>
                  <span class="mus-tr_time">
                    {$result.time}
                  </span>
                </div>
              </div>
            </li>
            {/foreach}
          </div>
      </div>
    </ol>
    {/strip}
    